@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400,500,600,700,800,900");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  width: 1400px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  padding: 25px 0;
  z-index: 20;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff; }
  header .logo {
    display: inline-block;
    font-weight: 700;
    font-size: 1.1rem; }
  header nav {
    display: inline-block;
    float: right; }
    header nav a {
      letter-spacing: 1px;
      color: #fff;
      font-weight: 700;
      margin-right: 50px; }
      header nav a:nth-child(5) {
        margin-right: -.5px; }
      header nav a:hover {
        color: #FEB332;
        padding-bottom: 5px;
        border-bottom: 2px solid #FEB332; }
      header nav a.active {
        color: #aaa;
        padding-bottom: 0;
        border-bottom: none;
        cursor: default; }

#home-section {
  background: #0057B2;
  height: 100vh;
  overflow: hidden; }
  #home-section .vertical-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  #home-section .intro-area {
    width: 50%;
    display: inline-block; }
    #home-section .intro-area h5 {
      margin-left: 140px;
      font-size: 100px;
      letter-spacing: -5px;
      font-weight: 800;
      background: white;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.09)));
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.09) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    #home-section .intro-area .yellow-bg {
      background-image: url("../img/yellowbg.svg");
      padding: 40px 140px;
      margin-top: -14px;
      margin-bottom: 21px;
      width: 1000px;
      position: relative;
      z-index: 5; }
      #home-section .intro-area .yellow-bg h1 {
        font-size: 55px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase; }
        #home-section .intro-area .yellow-bg h1 span {
          font-weight: 300;
          font-family: 'Lato', sans-serif; }
      #home-section .intro-area .yellow-bg h3 {
        font-size: 28px;
        color: #fff;
        text-transform: capitalize;
        margin-top: 10px; }
      #home-section .intro-area .yellow-bg p {
        font-size: 1rem;
        color: #fff;
        font-weight: 500;
        margin-top: 40px; }
      #home-section .intro-area .yellow-bg .call-actions {
        margin-top: 50px; }
        #home-section .intro-area .yellow-bg .call-actions a {
          margin-right: 20px;
          text-transform: uppercase;
          padding: 10px 30px;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1px;
          border-radius: 5px;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
          #home-section .intro-area .yellow-bg .call-actions a.resume-btn {
            background: #fff;
            color: #FEB332; }
          #home-section .intro-area .yellow-bg .call-actions a.hire-btn {
            padding: 7px 27px;
            border: 3px solid #fff;
            color: #fff; }
          #home-section .intro-area .yellow-bg .call-actions a:hover {
            background: #0057B2;
            color: #fff;
            border: none;
            padding: 10px 30px; }
  #home-section .img-container {
    width: 50%;
    display: inline-block;
    text-align: center; }
    #home-section .img-container img.hero-img {
      width: 420px;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      right: 11%;
      z-index: 10;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    #home-section .img-container .circle-bg {
      background: #034D9A;
      width: 1000px;
      height: 1000px;
      border-radius: 50%;
      position: relative;
      right: 20px;
      z-index: 1; }
    #home-section .img-container .path7 {
      width: 100px;
      position: absolute;
      z-index: 50;
      left: 20%;
      top: -10px;
      opacity: .7; }
    #home-section .img-container .path12 {
      width: 70px;
      position: absolute;
      z-index: 50;
      left: 35%;
      bottom: 8%;
      opacity: .7; }
    #home-section .img-container .path16 {
      width: 120px;
      position: absolute;
      z-index: 4;
      right: 20%;
      bottom: 10px;
      opacity: .7; }
    #home-section .img-container .path313 {
      width: 240px;
      position: absolute;
      z-index: 4;
      left: -65px;
      bottom: 16%;
      opacity: .7;
      -webkit-transform: scaleX(-1) rotate(45deg);
      transform: scaleX(-1) rotate(45deg); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

.container {
  max-width: 1400px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #555555; }
