@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400,500,600,700,800,900");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  width: 1400px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  padding: 25px 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background: #0057B2; }
  header .logo {
    display: inline-block;
    font-weight: 700;
    font-size: 1.1rem; }
  header nav {
    display: inline-block;
    float: right; }
    header nav a {
      letter-spacing: .5px;
      color: #fff;
      font-weight: 600;
      margin-right: 50px; }
      header nav a:nth-child(5) {
        margin-right: -.5px; }
      header nav a:hover {
        color: #FEB332;
        padding-bottom: 5px;
        border-bottom: 4px solid #FEB332; }
      header nav a.active {
        color: #aaa;
        padding-bottom: 0;
        border-bottom: none;
        cursor: default; }

#home-section {
  background: #0057B2;
  height: 100vh;
  overflow: hidden; }
  #home-section .vertical-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  #home-section .intro-container {
    width: 50%;
    display: inline-block;
    background: #FEB332;
    padding: 45px; }
    #home-section .intro-container h1 {
      font-size: 55px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase; }
      #home-section .intro-container h1 span {
        font-weight: 300;
        font-family: 'Lato', sans-serif; }
  #home-section .img-container {
    width: 50%;
    display: inline-block; }
    #home-section .img-container img {
      width: 350px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

.container {
  max-width: 1400px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #555555; }
