@import "header";

body{
  background: #faf9f7;
  // background: #f5f5f5;
}

#project-info-body {
  header{
    nav {
      // display: inline-block;
      // float: right;
  
      a {
        // letter-spacing: 1px;
        color: $med-black;
        // font-weight: 700;
        // margin-right: 50px;
        // transition: all .2s ease-in-out;
        // display: inline-block;
  
        img {
          // display: block;
          // margin-top: 5px;
          // opacity: 0;
          // transform: translateY(- 5px);
          // transition: transform .2s $easeOutBack, opacity .15s;
  
          &.skills-underline {
            // width: 100%;
          }
        }
  
        &:nth-child(5) {
          // margin-right: -.5px;
        }
  
        &:hover {
          // font-weight: 800;
          color: $main-yellow;
  
          img {
            // opacity: 1;
            // transform: translateY(0);
          }
        }
  
        &.active {
          // color: #aaa;
          // padding-bottom: 0;
          // cursor: default;
  
          &:hover {
            img {
              // opacity: 0;
            }
          }
        }
      }
    }
  }
}


#portfolio-project{
  padding: 100px 15px;

  .container{
    .project-image{
      width: 100%;
      margin-bottom: 3rem;

      .img{
        width: 100%;
        height: 450px;
        background-size: cover !important;
        /* background-position: center center !important; */
        background-position: top center !important;
        background-repeat: no-repeat !important;
        /* background-attachment: fixed !important; */
      }
    }
    .page-header{
      margin-bottom: 70px;

      h1{
        margin-top: -5px;
        margin-bottom: 14px;
        font-size: 3.125rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $rich-black;
      }
      img{
        width: 100px;
      }
    }

    p{
      font-size: 1rem;
      line-height: 1.5;
      color: #929294;
      &:nth-last-of-type(){
        margin-bottom: 70px;

      }
      &:nth-of-type(2){
        margin-bottom: 70px;
      }
    }

    .info {
      .buttons{
        a{
          display: inline-block;
          margin: 0 25px 0 0;
          color: $main-yellow;
          // background: $main-yellow;
          border: 3px solid $main-yellow;
          text-transform: uppercase;
          padding: 14px 30px;
          font-size: 14px;
          font-weight: 800;
          letter-spacing: 1px;
          border-radius: 5px;
          transition: all .2s ease-in-out;
        }

        .fas{
          color: $main-yellow;
          margin-right: 10px;
        }
        a:hover{
          background: $main-yellow;
          color: #fff;

          .fas{
            color: #fff;
            // font-weight: 600;
          }
        }
      }
    }

    .technologies{
      width: 100%;
      position: relative;

      .tech-container{
        padding: 50px 0 0 0;
        border-radius: 4px;
        border: 5px solid $rich-black;
        width: 70%;
        box-shadow: -14px 14px 0px -1px rgba(140,140,140, .5);
        margin: 100px auto 100px;

      // background: #efefef;
      // background: rgb(232, 245, 252);
      // background: #fff;
      // background: #faf9f7;
      // background: #f5f5f5;
      // box-shadow: 8px 12px 8px 1px rgba(150,150,150, .1);
      // box-shadow: 10px 10px 5px 0px rgba(150,150,150, .1);
      // box-shadow: 16px 16px 21px rgba(100,100,100, .1);
      // box-shadow: -8px 8px 30px 5px rgba(140,140,140, .1);

        h3{
          font-size: 1.8rem;
          text-align: center;
          font-weight: 700;
          letter-spacing: 2px;
          text-transform: capitalize;
          padding: 0 50px 50px 50px;
  
  
          border-bottom-width: 5px;
          border-bottom-style: solid;
  
          border-image: linear-gradient(270deg, rgba(150, 150, 150, 0.0), rgba(150, 150, 150, 0.8), rgba(150, 150, 150, 0.0)) 1;
  
        }

        .column{
          &:hover{
            // background: $main-yellow;
            // background: #fff;
            // background: red;

            // background: #ACBBD2;
            // background: #C0D4EF;
            // background: #ACC8ED;
            //better dark gray
            // background: 	#A9BEDB;
            width: 105.5%;
            transform: translateX(-2.55%);
            box-shadow: 0px 0px 30px 5px rgba(100,100,100, .23);
            // padding: 51.5px 60px 51.5px 60px !important;
            // padding: 50px 65px 50px 65px !important;


            //edit
            // border-left-width: 5px !important;
            // border-left-style: solid !important;
            // border-bottom: none !important;
            // border-image: linear-gradient(180deg,rgba(51, 51, 51, 1), rgba(250, 249, 247, 1)) 1 !important;


            border-left: 5px solid $rich-black;
            border-bottom: none !important;
            border-image: 0 !important;

            &.column-container{
              // border: 5px solid $rich-black;
              border-radius: 3px;
              // border: none;
              padding: 0;

              
    

              .left-column{
                // border-right: 3px solid $med-gray;
                background: #fff;
                border-image: none;
                //edits
                padding: 50px 40px 50px 65px !important;
                border-right: none;
                


                // border-right-width: 5px !important;
                // border-right-style: solid !important;
                // border-image: linear-gradient(180deg,rgba(51, 51, 51, 1), rgba(250, 249, 247, 1)) 1 !important;

                .icon{
                  // border: 3px solid $main-yellow;
                  // border: 3px solid #fff
                  // background: #fff;
                  background: $main-yellow;
                  border: none;
                }
              }

              .right-column{
                //edit
                padding: 50px 65px 50px 40px !important;
                background: #FEB332;
                border-radius: 0 3px 3px 0px;
                margin-left: 0;

                .container{
                  h6{
                    color: #fff;
                  }
    
                  p{
                    color: #fff;
                    font-weight: 500;
                  }
                }
              }
            }


            &.column-container2{
              .right-column{
    
                border-image:linear-gradient(rgba(254, 179, 50, 0.0), rgba(254, 179, 50, 1), rgba(254, 179, 50, 0.0)) 1 100%;
    
                .icon{
                  border: 3px solid $main-yellow;
                }
              }

              .left-column{
                .container{
                  h6{
                    color: $rich-black;
                  }
                }
              }
            }
          }

          &.column-container{
            display: flex;
            // margin-bottom: 50px;
    
    
            // box-shadow: -5px -5px 10px 0px  rgba(170, 170, 170, 0.3);
            // padding: 50px 50px 50px 50px;
            position: relative;
    
            border-bottom-width: 3px;
            border-bottom-style: solid;
    
            border-image: linear-gradient(270deg, rgba(170, 170, 170, 0.0), rgba(170, 170, 170, 0.8), rgba(170, 170, 170, 0.0)) 1;
    
    
    
            // border-image: linear-gradient(270deg, rgba(254, 179, 50, 0.0), rgba(254, 179, 50, 0.8), rgba(254, 179, 50, 0.0)) 1;
    
            
    
            &:before, &:after {
              // content: "";
              // position: absolute;
              // bottom: -10px;
              // left: -10px;
            }
    
            &:before {
              // top: -10px;
              // width: 10px;
              
              //alt
              // background-image: linear-gradient(#000, transparent);
    
              // background-image: linear-gradient(transparent,  rgba(255, 255, 255, 0.5));
            }
    
            &:after {
              // right: -10px;
              // height: 10px;
    
    
              // background-image: linear-gradient(left, rgba(255, 255, 255, 0.5), transparent);
            }
    
    
            &:nth-of-type(3){
              // margin-bottom: 0;
              
              // border: none;

              // padding: 0;
            }
    
            .left-column{
              // padding-right: 40px;
    
              padding: 50px 40px 50px 65px !important;

              //alt
              // border-right: 3px solid rgba(170, 170, 170, 0.3);
    
              display: flex;
              justify-content: center;
              align-items: center;
    
                border-right-width: 3px;
                border-right-style: solid;
    
                //alt
                // border-image: linear-gradient(top, rgba(170, 170, 170, 0.3), rgba(170, 170, 170, 0.0)) 1 100%;
    
    
                // border-image:linear-gradient(rgba(170, 170, 170, 0.0), rgba(170, 170, 170, 0.3), rgba(170, 170, 170, 0.0)) 1 100%;
    
                border-image:linear-gradient( rgba(170, 170, 170, 0.5), rgba(170, 170, 170, 0.0)) 1 100%;
    
    
    
              .icon{
                width: 100px;
                height: 100px;
                // background: $main-yellow;
                border-radius: 50%;
                text-align: center;
                vertical-align: middle;
                border: 3px solid $med-gray;
    
                img{
                  filter: grayscale(100%);
                  transition: all .3s ease-in-out;
                  cursor: pointer;
    
                  &:hover{
                    // filter: grayscale(0);
                  }
                }
    
                .icon {
                  img{
                    // width: 100%;
                    // max-width: 60px;
                  }
                }
              }
            }
    
            .right-column{
              // margin-left: 40px;
              padding: 50px 65px 50px 40px !important;


              .container{
                h6{
                  font-size: 1.2rem;
                  // font-weight: 500;
                  text-transform: capitalize;
                  letter-spacing: 2px;
                  margin-bottom: 17px;
    
                  font-weight: 700;
                  // color: #929294;
                  color: $med-black;
    
                }
    
                p{
                  font-size: 1.1rem;
                  line-height: 1.8;
                }
              }
            }
          }

          &.column-container2{
            display: flex;
            // margin-bottom: 50px;
    
    
    
    
            padding: 50px;
            position: relative;
    
    
            border-bottom-width: 3px;
            border-bottom-style: solid;
    
            // border-image: linear-gradient(270deg, rgba(254, 179, 50, 0.0), rgba(254, 179, 50, 0.8), rgba(254, 179, 50, 0.0)) 1;
    
            border-image: linear-gradient(270deg, rgba(170, 170, 170, 0.0), rgba(170, 170, 170, 0.8), rgba(170, 170, 170, 0.0)) 1;
    
    
            // box-shadow: 0px 0px 20px rgba(170, 170, 170, 0.5);
    
            
    
    
            &:before, &:after {
              // content: "";
              // position: absolute;
              // bottom: -3px;
              // right: -3px;
            }
    
            &:before {
              // top: -3px;
              // width: 3px;
              // background-image: linear-gradient(transparent,  rgba(150, 150, 150, 0.3));
            }
    
            &:after {
              // left: -3px;
              // height: 3px;
              // background-image: linear-gradient(right, rgba(150, 150, 150, 0.3), transparent);
            }
    
    
            .left-column{
              margin-right: 40px;
    
              .container{
                h6{
                  font-size: 1.2rem;
                  font-weight: 500;
                  text-transform: capitalize;
                  letter-spacing: 2px;
                  margin-bottom: 17px;
                  text-align: right;
    
                  font-weight: 700;
                  color: $med-black;
                }
    
                p{
                  line-height: 1.8;
                  text-align: right;
                }
              }
            }
  
            .right-column{
              padding-left: 40px;
              // border-left: 3px solid rgba(170, 170, 170, 0.3);
              display: flex;
              justify-content: center;
              align-items: center;
    
              border-left-width: 3px;
              border-left-style: solid;
              // border-image:linear-gradient(rgba(170, 170, 170, 0.0), rgba(170, 170, 170, 0.3), rgba(170, 170, 170, 0.0)) 1 100%;
    
              border-image:linear-gradient( rgba(170, 170, 170, 0.5), rgba(170, 170, 170, 0.0)) 1 100%;
    
    
    
              .icon{
                width: 100px;
                height: 100px;
                // background: $main-yellow;
                border-radius: 50%;
                text-align: center;
                vertical-align: middle;
                border: 3px solid $med-gray;
    
    
                img{
                  filter: grayscale(100%);
                  transition: all .3s ease-in-out;
                  cursor: pointer;
    
                  &:hover{
                    // filter: grayscale(0);
                  }
                }
    
                .icon {
                  img{
                    // width: 100%;
                    // max-width: 60px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.project-info-footer{
  background: $main-blue;
  // background: $baby-blue;
  .container{
    color:#fff;
    // font-weight: 600;
    font-size: 1rem;
  }
}

/* Tablets */
@media only screen and (max-width: 960px){
  #portfolio-project h1 {
    // font-size: 3rem;
  }
  #portfolio-project p {
    // font-size: 1rem;
  }
  #portfolio-project h3 {
    // text-align: center;
  }
}

/* Phones */
@media only screen and (max-width: 767px){
  #portfolio-project .info .buttons {
    // text-align: center;
  }
  #portfolio-project .info .buttons a {
    // margin-bottom: 10px;
  }
  #portfolio-project .technologies .icons{
    // display: grid;
    // grid-template-columns: 1fr 1fr;
  }
}