#about-section{
  padding: 150px 0;

    .section-title{
      text-align: center;
      margin-bottom: 70px;

      h2{
        margin-top: -5px;
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        color: $rich-black;
      }
    }

    .content{
      display: flex;
      justify-content: center;
      align-content: center;

      .columns{
        width: 50%;
        overflow: auto;
        position: relative;

        &.left-column{
          .col-title{
            text-transform: uppercase;
            position: relative;

            .bg-text{
              font-size: 155px;
              font-weight: 900;
              color: #E4EDF6;
              // opacity: .3;
              // position: absolute;
              // top: 0;
              margin-left: -7px;
              margin-bottom: 20px;
              // background: rgb(228,237,246);
              // background: linear-gradient(90deg, rgba(228,237,246,1) 0%, rgba(255,255,255,1) 100%);
              background: -webkit-linear-gradient(120deg, rgba(228,237,246,1) 45%, rgba(255,255,255,1) 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;            
            }

            .title-container{
              position: absolute;
              // top: 50%;
              // transform: translateY(-50%);
              bottom: 30px;
              color: $med-black;

              h5{
                font-size: 1.8rem;
                font-weight: 700;
                letter-spacing: 2px;
                margin-bottom: 5px;
              }

              h6{
                font-size: 1.3rem;
                font-weight: 400;
              }
            }
          }

          p.body-text{
            width: 500px;
            line-height: 1.5;
            margin-bottom: 50px;
          }

          .other-info{
            h6{
              font-size: 1.3rem;
              font-weight: 600;
              color: $med-black;
              margin-bottom: 17px;
            }

            .interest-container{
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              color: $med-black;

              ul.interests{
                li{
                  margin: 5px 0;

                  &.interest-title{
                    // font-size: 1.2rem;
                    font-weight: 600;
                    margin: 0 0 8px;
                  }
                }
              }

            }

          }
        }

      }
    }
}