header{
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  padding: 25px 0;
  z-index: 20;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;

  &.scroll{
    background: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);

   .mobile-menu-icons{
      // display: block;
      
      .hamburger-icon{
        // display: block;
        // position: absolute;
        // left: 15px;
        // top: 15px;
        color: $med-black;

        &.unactive{
          // display: none;
        }
      }
      .out-icon{
        // display: block;
        // position: absolute;
        // left: 15px;
        // top: 15px;
        color: $med-black;

        &.unactive{
          // display: none;
        }
      }
    }

    .container{
      .logo{
        a{
          color: $med-black;
        }
      }

      a{
        color: $med-black;
      }
    }
  }

  .mobile-menu-icons{
    display: none;

    .hamburger-icon{
      padding: 5px;
      font-size: 1.5rem;
    }

    .out-icon{
      padding: 5px;
      font-size: 1.5rem;
    }
  }

  .logo{
    display: inline-block;
    font-weight: 700;
    font-size: 1.1rem;

    a{
      color: #fff;
      position: relative;
      z-index: 21
    }
  }

  nav{
    display: inline-block;
    float: right;
    
    a{
      letter-spacing: 1px;
      color: #fff;
      font-weight: 700;
      margin-right: 50px;
      transition: all .2s ease-in-out;
      display: inline-block;

      img{
        display: block;
        margin-top: 5px;
        opacity: 0; 
        transform: translateY(- 5px);
	      transition: transform .2s $easeOutBack, opacity .15s;

        &.skills-underline{
          width: 100%;
        }
      }

      &:nth-child(5){
        margin-right: -.5px;
      }

      &:hover{
        font-weight: 800;
        color: $main-yellow;

        img{
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      &.active{
        color: #aaa;
        padding-bottom: 0;
        cursor: default;

        &:hover{
          img{
            opacity: 0;
          }
        }
      }
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (max-width: 479px){ 
  header{
    width: 100% !important;
    //padding rem === 20px
    padding: 1.25rem;
    background: rgba(0, 0, 0, .2);

    &.scroll{
      background: rgba(0,0,0,0.5);
      // box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
    }

    &.active{
      background: rgba(0,0,0,0.5) !important;
      box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
    }

    &.header-close{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      .mobile-menu-icons{
        display: block;
  
        .hamburger-icon{
          display: block;
          padding: 0;
        }
  
        .out-icon{
          display: none;
          padding: 0;
        }
      }

      .logo{
        display: block;
      }

      .container{
        display: none;  
      }
    }


    &.header-open{
      background: rgba(255,255,255,.8);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;

      .mobile-menu-icons{
        display: block;
        color: $rich-black;
        grid-column: 2/3;
        justify-self: end;

        .hamburger-icon{
          display: none;
          padding: 0;
        }

        .out-icon{
          display: block;
          padding: 0;
        }
      }

      .logo{
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: start;
        text-align: center;
        
        a{
          color: $med-black;
        }
      }

      .container{
        grid-column: 1/3;
        grid-row: 2/3;

        nav{
          display: block;
          text-align: center;

          a{
            color: $med-black;
            display: block;
            font-size: 1rem;
            padding: 10px 0;
            margin: 0 20px;

            &.active{
              color: #aaa;
            }

            img{
              display: none;
            }
          }
        }   
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 768px){ 
 header{
   padding: 20px 30px 15px;
 }
}
