header{
  max-width: 1200px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  padding: 25px 0;
  z-index: 20;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;

  &.scroll{
    background: green !important;
    color: $med-black !important;
  }

  .logo{
    display: inline-block;
    font-weight: 700;
    font-size: 1.1rem;

    a{
      color: #fff;position: relative;
      z-index: 21
    }
  }

  nav{
    display: inline-block;
    float: right;
    
    a{
      letter-spacing: 1px;
      color: #fff;
      font-weight: 700;
      margin-right: 50px;
      transition: all .2s ease-in-out;
      display: inline-block;

      img{
        display: block;
        margin-top: 5px;
        opacity: 0; 
        transform: translateY(- 5px);
	      transition: transform .2s $easeOutBack, opacity .15s;

        // &.home-underline{
        //   width: 60%;
        // }

        // &.about-underline{
        //   width: 70%;
        //   margin-left: -2px;
        // }
        &.skills-underline{
          width: 100%;
        }
        // &.projects-underline{
        //   width: 98%;
        // }
        // &.contact-underline{
        //   width: 90%;
        // }
      }

      &:nth-child(5){
        margin-right: -.5px;
      }

      &:hover{
        font-weight: 800;
        color: $main-yellow;

        img{
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      &.active{
        color: #aaa;
        padding-bottom: 0;
        cursor: default;

        &:hover{
          img{
            opacity: 0;
          }
        }
      }
    }
  }
}
