#home-section {
  background: $main-blue;
  height: 100vh;
  overflow: hidden;

  .container {
    .vertical-container {
      height: 100vh;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;

      .img-container {
        width: 50%;
        display: inline-block;
        text-align: center;

        img.hero-img {
          width: 400px;
          margin: 0 auto;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: 10;
        }

        img.shirt-gradient {
          width: 400px;
          margin: 0 auto;
          position: absolute;
          top: 69%;
          left: 0;
          z-index: 11;
        }

        .hero-bg-shadow {
          position: absolute;
          top: 50%;
          left: 11%;
          z-index: 9;
          transform: translateY(-50%);
          width: 140px;
          height: 140px;
          border-radius: 50%;
          box-shadow: 0 0 140px 140px rgba(0, 0, 0, .2);
        }

        .bg-circle-container {
          background: rgba(3, 77, 154, .95);
          width: 1200px;
          height: 1200px;
          border-radius: 50%;
          position: relative;
          right: 98%;
          z-index: 2;

          .bg-circle-big {
            box-shadow: 0px 0px 50px 20px rgba(50, 50, 50, .1);
            background: linear-gradient(90deg, rgba(3, 77, 154, .9) 0%, rgba(3, 77, 154, .9) 100%), url("../img/code-syntax.jpg")center center;
            background-size: 950px;
            width: 1200px;
            height: 1200px;
            filter: blur(3px);
            border-radius: 50%;
            position: relative;
            z-index: 1;
          }
        }
      }

      .intro-area {
        width: 50%;
        display: inline-block;

        h5 {
          margin-left: 91px;
          font-size: 80px;
          letter-spacing: -5px;
          font-weight: 800;
          background: rgb(255, 255, 255);
          background: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .08) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .yellow-bg {
          background: $main-yellow;
          padding: 45px 75px;
          margin-top: -12px;
          height: 310px;
          position: relative;
          z-index: 5;
          clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
          filter: drop-shadow(-20px 20px 10px rgba(50, 50, 50, 0.1));
          width: 930px;
          right: 55%;

          .container {
            margin-left: 350px;

            h1 {
              font-size: 3.125rem;
              font-weight: 700;
              color: #fff;
              text-transform: uppercase;
              margin-top: -8px;
            }

            h3 {
              font-size: 1.8rem;
              color: #fff;
              text-transform: capitalize;
              margin-top: 10px;
            }

            p {
              font-size: 1.1rem;
              color: #fff;
              font-weight: 500;
              margin-top: 40px;
            }

            .call-actions {
              margin-top: 50px;
              margin-bottom: 12px;

              a {
                margin-right: 20px;
                text-transform: uppercase;
                padding: 10px 30px;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 1px;
                border-radius: 5px;
                transition: all .2s ease-in-out;

                &.resume-btn {
                  background: #fff;
                  color: $main-yellow;

                  &:hover {
                    background: $main-blue;
                    color: #fff;
                    padding: 10px 30px;
                  }
                }

                &.hire-btn {
                  padding: 7px 27px;
                  border: 3px solid #fff;
                  color: #fff;

                  &:hover {
                    background: $main-blue;
                    color: #fff;
                    border: 3px solid $main-blue;
                  }
                }
              }
            }
          }

          .bg-cutout {
            position: absolute;
            transform: translateY(-50%) scaleX(-1);
            width: 371px;
            top: 53%;
            right: 63%;
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 1241px) and (max-width: 1280px) {
  #home-section {
    .vertical-container {
      .img-container {
        .bg-circle-container {
          right: 115% !important;
        }
      }

      .intro-area {
        h5 {
          position: relative;
          left: 27px;
        }

        .yellow-bg {
          .bg-cutout {
            right: 600px !important;
          }
        }
      }
    }
  }
}

//hero img styles
@media only screen and (min-width: 1141px) and (max-width: 1280px) {
  #home-section {
    .vertical-container {
      .img-container {
        img.hero-img {
          width: 68% !important;
        }

        img.shirt-gradient {
          width: 68% !important;
        }
      }
    }
  }
}

//hero-bg-shadow
@media only screen and (min-width: 1140px) and (max-width: 1280px) {
  #home-section {
    .vertical-container {
      .img-container {
        .hero-bg-shadow {
          left: 130px !important;
        }
      }
    }
  }
}

//hero img styles
@media only screen and (min-width: 801px) and (max-width: 1280px) {
  #home-section {
    .vertical-container {
      .img-container {
        position: relative !important;

        img.hero-img {
          top: 50% !important;
          left: 0 !important;
          transform: translateY(-50%) !important;
        }

        img.shirt-gradient {
          top: 64% !important;
          left: 0 !important;
          transform: translateY(-50%) !important;
        }

        .hero-bg-shadow {
          width: 100px !important;
          height: 100px !important;
        }
      }
    }
  }
}

//font styles for laptop view
@media only screen and (min-width: 791px) and (max-width: 1280px) {
  #home-section {
    .vertical-container {
      .intro-area {
        .yellow-bg {
          .container {
            h1 {
              font-size: 3.125rem !important;
              line-height: 1.05 !important;
            }

            h3 {
              font-size: 1.8rem !important;
              line-height: 1.2 !important;
            }

            p {
              font-size: 1rem !important;
            }
          }
        }
      }
    }
  }
}

//laptop view
//bg-circle-container, h5, bg-cutout
@media only screen and (min-width: 1201px) and (max-width: 1240px) {
  #home-section {
    .vertical-container {
      .img-container {
        .bg-circle-container {
          right: 115% !important;
        }
      }

      .intro-area {
        h5 {
          margin-left: 50px !important;
          position: relative;
          left: 82px;
        }

        .yellow-bg {
          padding: 45px 0 !important;

          h1 {
            font-size: 3.125rem !important;
          }

          .bg-cutout {
            right: 534px !important;
          }
        }
      }

      .intro-area-bg {
        height: 312px !important;
      }
    }
  }
}

//laptop view. main styles
@media only screen and (min-width: 951px) and (max-width: 1240px) {
  #home-section {
    .container {
      position: initial !important;

      .vertical-container {
        .intro-area {
          position: relative !important;
          height: 100vh !important;

          h5 {
            display: block !important;
            position: absolute !important;
            top: 23.5% !important;
          }

          .yellow-bg {
            position: absolute !important;
            right: 0 !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
            width: 75vw !important;
            height: initial !important;
            box-shadow: initial !important;
            padding: 40px 0 !important;
            clip-path: initial !important;
            margin-top: 0 !important;
            display: flex !important;
            justify-content: flex-end !important;
            overflow: hidden !important;

            .container {
              margin: 0 !important;
              max-width: initial !important;

              h1 {
                font-size: 3rem !important;
                margin-left: auto !important;
                margin-top: -8px !important;
              }

              h3 {
                margin-left: initial !important;
                margin-right: auto !important;
              }

              p {
                margin-left: initial !important;
                margin-right: auto !important;
              }

              .call-actions {
                margin-left: initial !important;
                margin-right: auto !important;
              }
            }

            .bg-cutout {
              display: block !important;
              position: absolute !important;
              opacity: 0.8 !important;
              width: 500px !important;
              top: 67% !important;
            }
          }
        }

        .intro-area-bg {
          background: $main-yellow !important;
          position: absolute !important;
          right: 0 !important;
          top: 50% !important;
          transform: translateY(-50%) !important;
          width: 100px !important;
          height: 300px !important;
        }
      }
    }
  }
}

/* laptop (smaller height) */
@media only screen and (min-width: 801px) and (min-height: 700px) and (max-height: 750px) and (max-width: 1240px) {
  #home-section {
    .vertical-container {
      .intro-area {
        h5 {
          top: 20.7% !important;
        }
      }
    }
  }
}

//laptop view
//bg-circle-container, h5, bg-cutout
@media only screen and (min-width: 1141px) and (max-width: 1200px) {
  #home-section {
    .vertical-container {
      .img-container {
        .bg-circle-container {
          right: 96% !important;
        }
      }

      .intro-area {
        h5 {
          margin-left: 133px !important;
        }

        .yellow-bg {
          padding: 45px 0 !important;

          .bg-cutout {
            right: 534px !important;
          }
        }
      }

      .intro-area-bg {
        height: 310px !important;
      }
    }
  }
}

/* laptop */
//img container styles
@media only screen and (min-width: 801px) and (max-width: 1200px) {
  #home-section {
    .vertical-container {
      .img-container {
        .bg-circle-container {
          width: 1100px !important;
          height: 1100px !important;

          .bg-circle-big {
            width: 1100px !important;
            height: 1100px !important;
          }
        }
      }
    }
  }
}

//laptop view
//bg-circle-container, hero-bg-shadow, h5, bg-cutout
@media only screen and (min-width: 1051px) and (max-width: 1140px) {
  #home-section {
    .vertical-container {
      .img-container {
        img.hero-img {
          width: 66% !important;
        }

        img.shirt-gradient {
          width: 66% !important;
        }

        .hero-bg-shadow {
          left: 105px !important;
        }

        .bg-circle-container {
          right: 116% !important;
        }
      }

      .intro-area {
        h5 {
          margin-left: 83px !important;
        }

        .yellow-bg {
          width: 75vw !important;

          .bg-cutout {
            right: 486px !important;
          }
        }
      }
    }
  }
}

//smaller laptop view
//bg-circle-container, h5, bg-cutout
@media only screen and (min-width: 951px) and (max-width: 1051px) {
  #home-section {
    .vertical-container {
      .img-container {
        .bg-circle-container {
          right: 140% !important;
        }
      }

      .intro-area {
        h5 {
          margin-left: 33px !important;
        }

        .yellow-bg {
          .bg-cutout {
            right: 435px !important;
          }
        }
      }
    }
  }
}

//hero img styles
@media only screen and (min-width: 901px) and (max-width: 1050px) {
  #home-section {
    .vertical-container {
      .img-container {
        img.hero-img {
          width: 70% !important;
        }

        img.shirt-gradient {
          width: 70% !important;
        }
      }

      .intro-area {
        .yellow-bg {
          width: 75vw !important;
        }
      }
    }
  }
}

//hero-bg-shadow
@media only screen and (min-width: 840px) and (max-width: 1050px) {
  #home-section {
    .vertical-container {
      .img-container {
        .hero-bg-shadow {
          left: 95px !important;
        }
      }
    }
  }
}

/* laptop */
//bg-circle-container
@media only screen and (min-width: 950px) and (max-width: 950px) {
  #home-section {
    .vertical-container {
      .img-container {
        .bg-circle-container {
          right: 139% !important;
        }
      }

      .intro-area {
        .yellow-bg {
          width: 75vw !important;
        }
      }
    }
  }
}

//smaller laptop main styles
@media only screen and (min-width: 801px) and (max-width: 950px) {
  #home-section {
    .container {
      position: initial !important;

      .vertical-container {
        .intro-area {
          position: relative !important;

          h5 {
            display: none !important;
          }

          .yellow-bg {
            position: absolute !important;
            right: 0 !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
            box-shadow: initial !important;
            padding: 38px 0 !important;
            clip-path: initial !important;
            margin-top: 0 !important;

            .container {
              margin-left: 0 !important;
              max-width: initial !important;
              display: flex !important;
              flex-direction: column !important;
              justify-content: flex-end !important;

              h1 {
                font-size: 2.9rem !important;
                margin-left: auto !important;
                margin-top: -2px !important;
              }

              h3 {
                margin-left: auto !important;
                margin-right: 21px !important;
              }

              p {
                margin-left: auto !important;
                margin-right: 116px !important;
              }

              .call-actions {
                margin-left: auto !important;
                margin-right: 99px !important;
                margin-bottom: 0 !important;
              }
            }

            .bg-cutout {
              display: none !important;
            }
          }
        }

        .intro-area-bg {
          background: $main-yellow !important;
          position: absolute !important;
          right: 0 !important;
          top: 50% !important;
          transform: translateY(-50%) !important;
          width: 100px !important;
          height: 310px !important;
        }
      }
    }
  }
}

/* laptop */
//bg-circle-container
@media only screen and (min-width: 901px) and (max-width: 949px) {
  #home-section {
    .vertical-container {
      .img-container {
        .bg-circle-container {
          right: 150% !important;
        }
      }
    }
  }
}

/* laptop */
// .bg-circle container
@media only screen and (min-width: 840px) and (max-width: 900px) {
  #home-section {
    .vertical-container {
      .img-container {
        .bg-circle-container {
          right: 165% !important;
        }
      }
    }
  }
}

//hero img styles
@media only screen and (min-width: 801px) and (max-width: 900px) {
  #home-section {
    .vertical-container {
      .img-container {
        img.hero-img {
          width: 75% !important;
        }

        img.shirt-gradient {
          width: 75% !important;
        }
      }

      .intro-area {
        .yellow-bg {
          width: 71vw !important;
        }
      }
    }
  }
}

/* laptop */
// .bg-circle-container, hero-bg-shadow
@media only screen and (min-width: 801px) and (max-width: 839px) {
  #home-section {
    .vertical-container {
      .img-container {
        .hero-bg-shadow {
          left: 85px !important;
        }

        .bg-circle-container {
          right: 168% !important;
        }
      }
    }
  }
}












//yellow-bg position fix
@media only screen and (min-width: 791px) and (max-width: 800px) {
  #home-section {
    .container {
      max-width: initial !important;

      .vertical-container {
        .intro-area {
          .yellow-bg {
            width: 37vw !important;
          }
        }
      }
    }
  }
}


//small tablet view.
@media only screen and (min-width: 730px) and (max-width: 800px) {
  #home-section {
    .vertical-container {
      .intro-area {
        .yellow-bg {
          width: 38vw !important;
        }
      }
    }
  }
}

//main styles for tablet view.
@media only screen and (min-width: 601px) and (max-width: 800px) {
  #home-section {
    padding: 0 0 0 30px !important;

    .vertical-container {
      .img-container {
        display: block !important;

        img.hero-img {
          width: 43% !important;
          top: 50% !important;
          transform: translateY(-50%) !important;
        }

        img.shirt-gradient {
          width: 43% !important;
          margin: 0 auto !important;
          position: absolute !important;
          top: initial !important;
          bottom: 20.7% !important;
        }

        .hero-bg-shadow {
          position: absolute !important;
          left: 14% !important;
          width: 90px !important;
          height: 90px !important;
        }

        .bg-circle-container {
          width: 100vw !important;
          height: 66.66vh !important;
          top: 0 !important;
          right: initial !important;
          left: -30px !important;
          border-radius: 0 !important;
          position: absolute !important;
          background: initial !important;

          .bg-circle-big {
            background: linear-gradient(0deg, rgba(0, 87, 178, 1) -10%, rgba(0, 87, 178, 0.82) 100%), url("../img/code-syntax.jpg")center center !important;
            background-size: 150% !important;
            width: 100vw !important;
            height: 66.66vh !important;
            border-radius: 0 !important;
          }
        }
      }

      .intro-area {
        display: block !important;

        h5 {
          display: none !important;
        }

        .yellow-bg {
          display: flex !important;
          justify-content: center !important;
          margin-top: 0 !important;
          padding: 40px 38px !important;
          width: 40vw !important;
          right: 0 !important;
          position: absolute !important;
          height: 93vh !important;
          clip-path: none !important;
          filter: none !important;
          box-shadow: -20px 20px 10px rgba(50, 50, 50, 0.1) !important;
          bottom: 0 !important;

          .container {
            margin: 0 !important;
            width: 100% !important;

            h1 {
              max-width: none !important;
              letter-spacing: initial !important;
              text-align: right !important;
              font-size: 2.8125rem !important;
            }

            h3 {
              text-align: right !important;
              margin-top: 8px !important;
              width: 100% !important;

              span {
                display: none !important;
              }
            }

            p {
              max-width: none !important;
              width: 100% !important;
              text-align: right !important;
              margin-left: auto !important;
              margin-top: 45px !important;
            }

            .call-actions {
              display: flex !important;
              flex-direction: column !important;
              align-items: center !important;
              margin-bottom: 0 !important;
              text-align: center !important;
              margin-top: 100px !important;

              a {
                width: 100% !important;
                margin-right: 0 !important;
                padding: 12px 58px !important;
                margin-left: auto !important;

                &.resume-btn {
                  margin-bottom: 20px !important;

                  &:hover {
                    padding: 12px 58px !important;
                  }
                }

                &.hire-btn {
                  padding: 9px 58px !important;

                  &:hover {
                    padding: 9px 58px !important;
                    border: 3px solid $main-blue !important;
                  }
                }
              }
            }
          }

          .bg-cutout {
            display: none !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 651px) and (max-width: 790px) {
  #home-section {
    .vertical-container {
      .intro-area {
        .yellow-bg {
          height: 92.5vh !important;
        }
      }
    }
  }
}

//font-styles for tablet and mobile view
@media only screen and (min-width: 480px) and (max-width: 790px) {
  #home-section {
    .vertical-container {
      .intro-area {
        .yellow-bg {
          .container {
            h1 {
              font-size: 2.8125rem !important;
              font-weight: 700 !important;
            }

            h3 {
              font-size: 1.6rem !important;
              line-height: 1.2 !important;
            }

            p {
              font-size: 1rem !important;
              line-height: 1.4 !important;
            }
          }
        }
      }
    }
  }
}

//small tablet view.
@media only screen and (min-width: 601px) and (max-width: 685px) {
  #home-section {
    .vertical-container {
      .intro-area {
        .yellow-bg {
          padding: 40px 30px !important;

          .container {
            h1 {
              font-size: 2.7rem !important;
            }

            .call-actions {
              a {
                &.hire-btn {
                  padding: 9px 50px !important;

                  &:hover {
                    padding: 9px 50px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


//her-bg-shadow, yellow-bg
@media only screen and (min-width: 601px) and (max-width: 650px) {
  #home-section {
    .vertical-container {
      .img-container {
        .hero-bg-shadow {
          left: 14% !important;
          width: 90px !important;
          height: 90px !important;
        }
      }

      .intro-area {
        .yellow-bg {
          height: 91.8vh !important;
        }
      }
    }
  }
}











//h5 font-size
// large mobile view
@media only screen and (min-width: 480px) and (max-width: 600px) {
  #home-section {
    .vertical-container {
      .img-container {
        .hero-img {}

        img.shirt-gradient {}

        .hero-bg-shadow {}

        .bg-circle-container {
          .bg-circle-big {}
        }
      }

      .intro-area {
        h5 {
          font-size: 5rem !important;
          margin-top: 65px !important;
        }

        .yellow-bg {
          // background: #aaa;

          .container {
            h1 {
              // font-size: 2.8125rem !important;
            }

            h3 {
              // font-size: 1.6rem !important;
            }

            p {}

            .call-actions {
              text-align: center !important;

              a {
                // padding: 10px 30px !important;

                &.resume-btn {}

                &.hire-btn {
                  // padding: 7px 27px !important;
                }

                &:hover {
                  // padding: 10px 30px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}



/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (min-height: 800px) and (max-height: 900px) and (max-width: 600px) {
  #home-section {
    .img-container {
      .hero-img {
        top: 62.5% !important;
      }
    }

    .intro-area {
      h5 {
        margin-top: 35% !important;
      }
    }
  }
}


/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (min-height: 602px) and (max-height: 668px) and (max-width: 600px) {
  #home-section {
    .img-container {
      .hero-img {
        top: 58% !important;
      }
    }
  }
}


/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (min-height: 360px) and (max-height: 601px) and (max-width: 600px) {
  #home-section {
    .img-container {
      .hero-img {
        top: 65% !important;
      }
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (max-width: 600px) {
  #home-section {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;

    .container {
      width: 100% !important;
    }

    .vertical-container {
      width: 100% !important;
      display: grid !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr 1fr !important;
    }

    .img-container {
      width: 100% !important;
      display: block !important;
      grid-row: 2 / 3 !important;
      justify-self: center !important;
      align-self: center !important;
      text-align: center !important;

      .hero-img {
        margin: 0 auto !important;
        left: 50% !important;
        top: 54% !important;
        width: 55% !important;
        transform: translateX(-50%) !important;
      }

      img.shirt-gradient {
        display: none !important;
        position: relative !important;
        width: 58.5% !important;
        left: 3px !important;
      }

      .hero-bg-shadow {
        position: relative !important;
        top: -70px !important;
        left: 50% !important;
        width: 50px !important;
        height: 50px !important;
        box-shadow: 0 0 100px 100px rgba(0, 0, 0, .2) !important;
        transform: translateX(-50%) !important;
      }

      .bg-circle-container {
        display: none !important;
      }
    }

    .intro-area {
      width: 100% !important;
      display: block !important;
      grid-row: 1 / 2 !important;
      justify-self: center !important;
      align-self: center !important;
      text-align: center !important;
      margin-top: 5% !important;

      h5 {}

      .yellow-bg {
        padding: 7% !important;
        width: 100% !important;
        height: auto !important;
        position: static !important;
        clip-path: none !important;
        filter: none !important;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1) !important;

        .container {
          margin-left: 0 !important;
          width: 100% !important;

          h1 {}

          h3 {
            margin-top: 7px !important;
            font-weight: 500 !important;
          }

          p {
            margin-top: 30px !important;
          }

          .call-actions {
            margin-top: 45px !important;
            display: flex !important;
            justify-content: space-evenly !important;
            margin-bottom: 0 !important;

            a {
              font-size: 12px !important;

              &.resume-btn {
                padding: 12px 35px !important;

                &:hover {
                  padding: 12px 35px !important;
                }
              }

              &.hire-btn {
                padding: 9px 32px !important;

                &:hover {
                  padding: 9px 32px !important;
                  border: 3px solid $main-blue !important;
                }
              }
            }
          }
        }

        .bg-cutout {
          display: none !important;
        }
      }
    }
  }
}


@media only screen and (min-width: 300px) and (max-width: 479px) {
  #home-section {
    .vertical-container {
      .img-container {
        .hero-img {}

        img.shirt-gradient {}

        .hero-bg-shadow {}

        .bg-circle-container {
          .bg-circle-big {}
        }
      }

      .intro-area {
        h5 {
          margin-left: 0 !important;
          font-size: 4rem !important;
          margin-top: 25.5% !important;
        }

        .yellow-bg {
          .container {
            h1 {
              font-size: 2.5rem !important;
              margin-top: -5px !important;
            }

            h3 {
              font-size: 1.25rem !important;
            }

            p {}

            .call-actions {
              text-align: center !important;

              a {
                // padding: 10px 30px !important;

                &.resume-btn {}

                &.hire-btn {
                  // padding: 7px 27px !important;
                }

                &:hover {
                  // padding: 10px 30px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 368px) and (max-width: 399px) {
  #home-section {
    .vertical-container {
      .img-container {
        .hero-img {}

        img.shirt-gradient {}

        .hero-bg-shadow {}

        .bg-circle-container {
          .bg-circle-big {}
        }
      }

      .intro-area {
        h5 {
          // margin-left: 0 !important;
          // font-size: 	4rem !important;
          // margin-top: 25.5%;
        }

        .yellow-bg {

          .container {
            h1 {
              font-size: 2.3rem !important;
            }

            h3 {
              // font-size: 1.25rem;
            }

            p {}

            .call-actions {
              // text-align: center;

              a {


                &.resume-btn {}

                &.hire-btn {}

                &:hover {}
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 300px) and (max-width: 367px) {
  #home-section {
    .vertical-container {
      .img-container {
        .hero-img {}

        img.shirt-gradient {}

        .hero-bg-shadow {}

        .bg-circle-container {
          .bg-circle-big {}
        }
      }

      .intro-area {
        h5 {
          // margin-left: 0 !important;
          // font-size: 	4rem !important;
          // margin-top: 25.5%;
        }

        .yellow-bg {

          .container {
            h1 {
              // font-size: 2.3rem;
              letter-spacing: 2px !important;
            }

            h3 {
              // font-size: 1.25rem;
            }

            p {}

            .call-actions {
              // text-align: center;

              a {


                &.resume-btn {}

                &.hire-btn {}

                &:hover {}
              }
            }
          }
        }
      }
    }
  }
}

//348
@media only screen and (min-width: 300px) and (max-width: 348px) {
  #home-section {
    .vertical-container {
      .img-container {
        display: none !important;

        .hero-img {}

        img.shirt-gradient {}

        .hero-bg-shadow {}

        .bg-circle-container {
          .bg-circle-big {}
        }
      }

      .intro-area {
        position: absolute !important;
        top: 50% !important;
        transform: translateY(-50%) !important;

        h5 {
          margin-top: 0 !important;
        }

        .yellow-bg {
          padding: 10% 7% !important;

          .container {
            h1 {}

            h3 {
              width: 84% !important;
              margin: 7px auto 0 !important;

              span {
                display: none !important;
              }
            }

            p {
              width: 73% !important;
              margin: 30px auto 0 !important;
            }

            .call-actions {
              flex-direction: column !important;
              justify-content: center !important;
              align-items: center !important;

              a {
                margin-right: 0 !important;

                &.resume-btn {
                  padding: 13px 65px !important;

                  &:hover {
                    padding: 13px 65px !important;
                  }
                }

                &.hire-btn {
                  padding: 10px 62px !important;
                  margin-top: 25px !important;

                  &:hover {
                    padding: 10px 62px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}