#home-section{
  background: $main-blue;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;

  .intro-container{
    width: 50%;
    display: inline-block;
  }

  .img-container{
    width: 50%;
    float: right;

    img{
      width: 350px;
    }
  }
}