#home-section{
  background: $main-blue;
  height: 100vh;
  overflow: hidden;

  .vertical-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    .img-container{
      width: 50%;
      display: inline-block;
      text-align: center;

      img.hero-img{
        width: 440px;
        margin: 0 auto;
        position: absolute;
        top: 20.1%;
        left: 6%;
        z-index: 10;
      }

      img.shirt-gradient{
        width: 440px;
        margin: 0 auto;
        position: absolute;
        // bottom: 0;
        bottom: 27.1%;
        left: 6%;
        z-index: 11;
      }

      .hero-bg-shadow{
        position: absolute;
        top: 50%;
        left: 18%;
        z-index: 9;
        transform: translateY(-50%);
        width: 140px;
        height: 140px;
        border-radius: 50%;
        box-shadow: 0 0 140px 140px rgba(0,0,0,.2);
      }

      .bg-circle-container{
        background: rgba(3, 77, 154,.95);
        width: 1200px;
        height: 1200px;
        border-radius: 50%;
        position: relative;
        right: 98%;
        z-index: 2;

        .bg-circle-big{
          box-shadow: 0px 0px 50px 20px rgba(50,50,50,.1);
          background:linear-gradient(90deg, rgba(3,77,154,.9) 0%, rgba(3,77,154,.9) 100%), url("../img/code-syntax.jpg")center center;
          background-size: 950px;
          width: 1200px;
          height: 1200px;
          filter: blur(3px);
          border-radius: 50%;
          position: relative;
          z-index: 1;
        }
      }
    }

    .intro-area{
      width: 50%;
      display: inline-block;

      h5{
        margin-left: 50px;
        font-size: 80px;
        letter-spacing: -5px;
        font-weight: 800;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 20%, rgba(255,255,255,.08) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .yellow-bg{
        background: $main-yellow;
        padding: 45px 75px;
        margin-top: -12px;
        width: 835px;
        height: 310px;
        position: relative;
        right: 39%;
        z-index: 5;
        clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
        filter: drop-shadow(-20px 20px 10px rgba(50,50,50,0.1));

        .container{
          margin-left: 220px;

          h1{
            font-size: 	3.125rem;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            margin-top: -8px;

            span{
              // font-weight: 300;
              // font-family: 'Lato', sans-serif;
            }
          }

          h3{
            font-size: 28px;
            color: #fff;
            text-transform: capitalize;
            margin-top: 10px;
          }

          p{
            font-size: 1.1rem;
            color: #fff;
            font-weight: 500;
            margin-top: 40px;
          }

          .call-actions{
            margin-top: 50px;
            margin-bottom: 12px;

            a{
              margin-right: 20px;
              text-transform: uppercase;
              padding: 10px 30px;
              font-size: 14px;
              font-weight: 700;
              letter-spacing: 1px;
              border-radius: 5px;
              transition: all .2s ease-in-out;

              &.resume-btn{
                background: #fff;
                color: $main-yellow;

                &:hover{
                  background: $main-blue;
                  color: #fff;
                  padding: 10px 30px;
                }
              }

              &.hire-btn{
                padding: 7px 27px;
                border: 3px solid #fff;
                color: #fff;

                &:hover{
                  background: $main-blue;
                  color: #fff;
                  border: 3px solid $main-blue;
                }
              }
            }
          }
        }

        .bg-cutout{
          width: 342px;
          position: absolute;
          top: 50%;
          right: 69.9%;
          transform: translateY(-50%) scaleX(-1);
        }
      }
    }
  }
}







/* laptop */
 // .img-container
@media only screen and (min-width: 1201px) and (max-width: 1280px){
  #home-section {
    .vertical-container {
      .img-container {
        .bg-circle-container {
          right: 112%;
        }
      }
    }
  }
}

//font styles for laptop view
@media only screen and (min-width: 791px) and (max-width: 1280px){
  #home-section{


    .vertical-container{
  
  
      .img-container{
        
  
        img.hero-img{
  
        }
  
        img.shirt-gradient{
       
        }
  
        .hero-bg-shadow{
      
        }
  
        .bg-circle-container{
      
  
          .bg-circle-big{
  
          }
        }
      }
  
      .intro-area{
        
  
        h5{
       
        }
  
        .yellow-bg{
       
  
          .container{
  
  
            h1{
              font-size: 3.125rem;
              line-height: 1.05;
  
              span{
            
              }
            }
  
            h3{
              font-size: 1.8rem;
              line-height: 1.2;
            }
  
            p{
              font-size: 1rem;
            }
  
            .call-actions{
          
  
              a{
              
  
                &.resume-btn{
               
  
                  &:hover{
                 
                  }
                }
  
                &.hire-btn{
             
  
                  &:hover{
                
                  }
                }
              }
            }
          }
  
          .bg-cutout{
        
          }
        }
      }
    }
  }
}

 /* laptop */
@media only screen and (min-width: 801px) and (max-width: 1200px){
  #home-section{
    .vertical-container{
      .img-container{
        img.hero-img{
          width: 35%;
        }

        img.shirt-gradient{
          width: 35%;
          bottom: 23.1%;
        }

        .hero-bg-shadow{
          width: 100px;
          height: 100px;
        }

        .bg-circle-container{
          width: 1100px;
          height: 1100px;

          .bg-circle-big{
            width: 1100px;
            height: 1100px;
          }
        }
      }
    }
  }
}


/* laptop */
 // .img-container
@media only screen and (min-width: 1135px) and (max-width: 1140px){
  #home-section {
    .vertical-container {
      .img-container {
        .bg-circle-container {
          right: 114%;
        }
      }
    }
  }
}


/* laptop */
 // .img-container
@media only screen and (min-width: 1026px) and (max-width: 1134px){
  #home-section {
    .vertical-container {
      .img-container {
        .hero-bg-shadow {
          left: 12%;
        }
      }
    }
  }
}








@media only screen and (min-width: 950px) and (max-width: 1025px){
  #home-section{
    .vertical-container{
      .intro-area{
        h5{
          margin-left: 38px;
        }

        .yellow-bg{
          display: flex;
          justify-content: flex-end;
          padding: 45px 152px;

          .container{
            margin: 0;

            h1 {
              // font-size: 3rem;
            }
          }
          .bg-cutout{
            // display: none;
          }
        }
      }
    }
  }
}




@media only screen and (min-width: 901px) and (max-width: 949px){
  #home-section{
    .vertical-container{
      .intro-area{
        h5{
          margin-left: 21px;
        }

        .yellow-bg{
          padding: 45px 73px;
          // display: flex;
          // justify-content: flex-end;
          // padding: 45px 152px;

          .container{
            // margin: 0;

            h1 {
              // font-size: 3rem;
            }
          }
          .bg-cutout{
            display: none;
          }
        }
      }
    }
  }
}

 // .img-container, .bg-cutout
/* laptop */
@media only screen and (min-width: 901px) and (max-width: 949px){
  #home-section{
    .vertical-container{
      .img-container{
        .bg-circle-container{
          right: 136%;
        }
      }

      .intro-area{
        .yellow-bg{
          .bg-cutout{
            right: 70.9%;
          }
        }
      }
    }
  }
}




 /* laptop */
 // .img-container, .bg-cutout
@media only screen and (min-width: 801px) and (max-width: 900px){
  #home-section{
    .vertical-container{
      .img-container{
        .bg-circle-container{
          right: 157%;
        }
      }

      .intro-area{
        h5{
          display: none;
        }
        .yellow-bg{
          .bg-cutout{
            display: none;
          }
        }
      }
    }
  }
}



 /* laptop */
 //img.hero-img
@media only screen and (min-width: 801px) and (max-width: 885px){
  #home-section{
    .vertical-container{
      .img-container{
        img.hero-img{
          width: 40%;
        }
      }
    }
  }
}




 /* laptop */
  // .img-container
@media only screen and (min-width: 801px) and (max-width: 839px){
  #home-section{
    .vertical-container{
      .img-container{
        img.shirt-gradient{
          bottom: 27.9%;
        }

        .bg-circle-container{
          right: 168%;
        }
      }

    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 900px){
  #home-section{
    .container{
      position: initial;
    }

    .vertical-container{
  
  
      .img-container{
        
  
        img.hero-img{
  
        }
  
        img.shirt-gradient{
       
        }
  
        .hero-bg-shadow{
      
        }
  
        .bg-circle-container{
      
  
          .bg-circle-big{
  
          }
        }
      }
  
      .intro-area{
        position: relative;
        // right: 0;

        // width: initial;
  
        h5{
       
        }
  
        .yellow-bg{
          // background: #aaa;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 70vw;
          box-shadow: initial;
          padding: 38px 0;
          clip-path: initial;
          margin-top: 0;

          .container{
            margin-left: 0;
            max-width: initial;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

  
            h1{
              font-size: 2.9rem;
              margin-left: auto;
              margin-top: -2px;


              span{
            
              }
            }
  
            h3{
              margin-left: auto;
              margin-right: 21px;
            }
  
            p{
              margin-left: auto;
              margin-right: 116px;            }
  
            .call-actions{
              margin-left: auto;
              margin-right: 99px;
              margin-bottom: 0;          
              a{
              
  
                &.resume-btn{
               
  
                  &:hover{
                 
                  }
                }
  
                &.hire-btn{
             
  
                  &:hover{
                
                  }
                }
              }
            }
          }
  
          .bg-cutout{
        
          }
        }
      }

      .intro-area-bg{
        // background: #aaa;
        background: $main-yellow;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
        height: 310px;
      }
    }
  }
}











//yellow-bg position fix
@media only screen and (min-width: 791px) and (max-width: 800px){
  #home-section{
    .container{
      max-width: initial;

      .vertical-container{
      .intro-area{
        .yellow-bg{
          top: -7vh !important;
          width: 37vw !important;
        }
      }
      }
    }
  }
}


//small tablet view.
@media only screen and (min-width: 730px) and (max-width: 800px){
  #home-section{
    .vertical-container{
      .intro-area{
        .yellow-bg{
          width: 38vw !important;
        }
      }
    }
  }
}



//current view. gray bg
@media only screen and (min-width: 601px) and (max-width: 800px){
  #home-section{
    padding: 120px 0 120px 30px !important;

    .vertical-container{
      .img-container{
        display: block;

        img.hero-img{
          width: 45%;
          top: 50%;
          transform: translateY(-50%);
        }

        img.shirt-gradient{
          width: 45%;
          margin: 0 auto;
          position: absolute;
          bottom: 24.7%;
        }

        .hero-bg-shadow{
          position: absolute;
          left: 20%;
          width: 100px;
          height: 100px;
        }

        .bg-circle-container{
          width: 100vw;
          // height: 55vh;
          height: 66.66vh;
          top: -57px;
          right: initial;
          left: -30px;
          border-radius: 0;
          position: absolute;
          background: initial;

          .bg-circle-big{
            background: linear-gradient(0deg, rgba(0,87,178,1) 0%, rgba(0,87,178,0.8) 100%), url("../img/code-syntax.jpg")center center;
            background-size: 150%;
            width: 100vw;
            height: 66.66vh;
            border-radius: 0;
          }
        }
      }

      .intro-area{
        display: block;

        h5{
          display: none;
        }

        .yellow-bg{
          // background: #aaa;
          display: flex;
          justify-content: center;
          margin-top: 0;
          padding: 40px 38px;
          width: 40vw;
          right: 0;
          position: absolute;
          height: 93vh;
          clip-path: none;
          filter: none;
          box-shadow: -20px 20px 10px rgba(50,50,50,0.1);

          .container{
            margin: 0;
            width: 100%;

            h1{
              max-width: none;
              letter-spacing: initial;
              text-align: right;
              font-size: 2.8125rem;
            }

            h3{
              text-align: right;    margin-top: 8px;
              width: 100%;

              span{
                display: none;
              }
            }

            p{
              max-width: none;
              width: 100%;
              text-align: right;
              margin-left: auto;
              margin-top: 45px;
            }

            .call-actions{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 0;
              text-align: center;
              margin-top: 100px;

              a{
                width: 100%;
                margin-right: 0;
                padding: 12px 58px;
                margin-left: auto;

                &.resume-btn{
                  margin-bottom: 20px;

                  &:hover{
                    padding: 12px 58px;
                  }
                }

                &.hire-btn{
                  padding: 9px 58px;

                  &:hover{
                    padding: 9px 58px;
                    border: 3px solid $main-blue;
                  }
                }
              }
            }
          }

          .bg-cutout{
            display: none;
          }
        }
      }
    }
  }
}


//yellow-bg position fix
@media only screen and (min-width: 651px) and (max-width: 790px){
  #home-section{
    .vertical-container{
      .intro-area{
        .yellow-bg{
          top: -7.2vh !important;
        }
      }
    }
  }
}

//font-styles for tablet and mobile view
@media only screen and (min-width: 480px) and (max-width: 790px){
  #home-section{
    .vertical-container{
      .intro-area{
        .yellow-bg{
          .container{
            h1{
              font-size: 2.8125rem !important;
              font-weight: 700 !important;
            }

            h3{
              font-size: 1.6rem !important;
              line-height: 1.2 !important;
            }

            p{
              font-size: 1rem;
              line-height: 1.4;
            }

            .call-actions{
              a{
                &.hire-btn{
                }

                &:hover{
                }
              }
            }
          }
        }
      }
    }
  }
}

//small tablet view.
@media only screen and (min-width: 601px) and (max-width: 685px){
  #home-section{
    .vertical-container{
      .intro-area{
        .yellow-bg{
          padding: 40px 30px;
          top: -6.5vh;


          .container{
            h1{
              font-size: 2.7rem !important;
            }

            .call-actions{
              a{
                &.hire-btn{
                  padding: 9px 50px;

                  &:hover{
                    padding: 9px 50px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


//hero img circular shadow
@media only screen and (min-width: 618px) and (max-width:  644px){
  #home-section {
    .vertical-container {
      .img-container {
        .hero-bg-shadow {
          left: 20%;
          width: 90px;
          height: 90px;
        }
      }
    }
  }
}












//h5 font-size
// large mobile view
@media only screen and (min-width: 480px) and (max-width: 600px){
  #home-section{
    .vertical-container{
      .img-container{
        .hero-img{
        }

        img.shirt-gradient{
        }

        .hero-bg-shadow{
        }

        .bg-circle-container{
          .bg-circle-big{
          }
        }
      }

      .intro-area{
        h5{
           font-size: 5rem !important;
           margin-top: 65px !important;
        }

        .yellow-bg{
          // background: #aaa;

          .container{
            h1{
              // font-size: 2.8125rem !important;
            }

            h3{
              // font-size: 1.6rem !important;
            }
            p{
            }

           .call-actions{
            text-align: center;

              a{
                // padding: 10px 30px !important;

                &.resume-btn{
                }

                &.hire-btn{
                  // padding: 7px 27px !important;
                }

                &:hover{
                  // padding: 10px 30px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}



/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (min-height: 800px) and (max-height: 900px) and (max-width: 600px){ 
  #home-section{
    .img-container{
      .hero-img{
        top: 62.5% !important;
      }
    }
    
    .intro-area{
      h5{
        margin-top: 35%;
      }
    }
  }
}


/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (min-height: 602px) and (max-height: 668px) and (max-width: 600px){ 
  #home-section{
    .img-container{
      .hero-img{
        top: 58% !important;
      }
    }
  }
}


/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (min-height: 360px) and (max-height: 601px) and (max-width: 600px){ 
  #home-section{
    .img-container{
      .hero-img{
        top: 65% !important;
      }
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (max-width: 600px){
  #home-section{
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;

    .container{
      width: 100% !important;
    }

    .vertical-container{
      width: 100% !important;
      display: grid !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr 1fr !important;
    }

    .img-container{
      width: 100% !important;
      display: block !important;
      grid-row: 2 / 3 !important;
      justify-self: center !important;
      align-self: center !important;
      text-align: center;

      .hero-img{
        margin: 0 auto !important;
        left: 50% !important;
        top: 54% !important;
        width: 55% !important;
        transform: translateX(-50%)!important;
      }

      img.shirt-gradient{
        display: none !important;
        position: relative !important;
        width: 58.5% !important;
        left: 3px !important;
      }

      .hero-bg-shadow{
        position: relative !important;
        top: -70px !important;
        left: 50% !important;
        width: 50px !important;
        height: 50px !important;
        box-shadow: 0 0 100px 100px rgba(0,0,0,.2) !important;
        transform: translateX(-50%)!important;
      }

      .bg-circle-container{
        display: none;
      }
    }

    .intro-area{
      width: 100% !important;
      display: block !important;
      grid-row: 1 / 2 !important;
      justify-self: center !important;
      align-self: center !important;
      text-align: center;
      margin-top: 5%;

      h5{

      }

      .yellow-bg{
        padding: 7% !important;
        width: 100% !important;
        height: auto !important;
        position: static !important;
        clip-path: none !important;
        filter: none !important;
        box-shadow: 0 0 5px 5px rgba(0,0,0,.1);

        .container{
          margin-left: 0 !important;
          width: 100% !important;

          h1{
          }

          h3{
            margin-top: 7px !important;
            font-weight: 500;
          }

          p{
            margin-top: 30px !important;
          }

          .call-actions{
            margin-top: 45px !important;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 0 !important;

            a{
              font-size: 12px !important;

              &.resume-btn{
                padding: 12px 35px !important;

                &:hover{
                  padding: 12px 35px !important;
                }
              }

              &.hire-btn{
                padding: 9px 32px !important;

                &:hover{
                  padding: 9px 32px !important;
                  border: 3px solid $main-blue;
                }
              }
            }
          }
        }

        .bg-cutout{
          display: none;
        }
      }
    }
  }
}


@media only screen and (min-width: 300px) and (max-width: 479px){
  #home-section{
    .vertical-container{
      .img-container{
        .hero-img{
        }

        img.shirt-gradient{
        }

        .hero-bg-shadow{
        }

        .bg-circle-container{
          .bg-circle-big{
          }
        }
      }

      .intro-area{
        h5{
          margin-left: 0 !important;
          font-size: 	4rem !important;
          margin-top: 25.5%;
        }

        .yellow-bg{
          .container{
            h1{
             font-size: 2.5rem;
             margin-top: -5px;
            }

            h3{
              font-size: 1.25rem;
            }
            p{

            }

           .call-actions{
            text-align: center;

              a{
                // padding: 10px 30px !important;

                &.resume-btn{
                }

                &.hire-btn{
                  // padding: 7px 27px !important;
                }

                &:hover{
                  // padding: 10px 30px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 368px) and (max-width: 399px){
  #home-section{
    .vertical-container{
      .img-container{
        .hero-img{
        }

        img.shirt-gradient{
        }

        .hero-bg-shadow{
        }

        .bg-circle-container{
          .bg-circle-big{
          }
        }
      }

      .intro-area{
        h5{
          // margin-left: 0 !important;
          // font-size: 	4rem !important;
          // margin-top: 25.5%;
        }

        .yellow-bg{

          .container{
            h1{
              font-size: 2.3rem;
            }

            h3{
              // font-size: 1.25rem;
            }
            p{

            }

           .call-actions{
            // text-align: center;

              a{
              

                &.resume-btn{
                }

                &.hire-btn{

                }

                &:hover{

                }
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 300px) and (max-width: 367px){
  #home-section{
    .vertical-container{
      .img-container{
        .hero-img{
        }

        img.shirt-gradient{
        }

        .hero-bg-shadow{
        }

        .bg-circle-container{
          .bg-circle-big{
          }
        }
      }

      .intro-area{
        h5{
          // margin-left: 0 !important;
          // font-size: 	4rem !important;
          // margin-top: 25.5%;
        }

        .yellow-bg{

          .container{
            h1{
              // font-size: 2.3rem;
              letter-spacing: 2px;
            }

            h3{
              // font-size: 1.25rem;
            }
            p{

            }

           .call-actions{
            // text-align: center;

              a{
              

                &.resume-btn{
                }

                &.hire-btn{

                }

                &:hover{

                }
              }
            }
          }
        }
      }
    }
  }
}

//348
@media only screen and (min-width: 300px) and (max-width: 348px){
  #home-section{
    .vertical-container{
      .img-container{
        display: none !important;

        .hero-img{
        }

        img.shirt-gradient{
        }

        .hero-bg-shadow{
        }

        .bg-circle-container{
          .bg-circle-big{
          }
        }
      }

      .intro-area{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        h5{
          margin-top: 0;
        }

        .yellow-bg{
          padding: 10% 7% !important;

          .container{
            h1{

            }

            h3{
              width: 84%;
              margin: 7px auto 0;

              span{
                display: none;
              }
            }

            p{
              width: 73%;
              margin: 30px auto 0;
            }

           .call-actions{
            flex-direction: column;
            justify-content: center;
            align-items: center;

              a{
                margin-right: 0;

                &.resume-btn{
                  padding: 13px 65px !important;

                  &:hover{
                    padding: 13px 65px !important;
                  }
                }

                &.hire-btn{
                  padding: 10px 62px !important;
                  margin-top: 25px;

                  &:hover{
                    padding: 10px 62px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

















































