#home-section{
  background: $main-blue;
  height: 100vh;
  overflow: hidden;

  .vertical-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    .img-container{
        width: 50%;
        display: inline-block;
        text-align: center;

        img.hero-img{
          width: 440px;
          margin: 0 auto;
          position: absolute;
          top: 20.1%;
          left: 6%;
          z-index: 10;
        }

        img.shirt-gradient{
          width: 440px;
          margin: 0 auto;
          position: absolute;
          // bottom: 0;
          bottom: 27.1%;
          left: 6%;
          z-index: 11;
        }

        .hero-bg-shadow{
          position: absolute;
          top: 50%;
          left: 18%;
          z-index: 9;
          transform: translateY(-50%);
          width: 140px;
          height: 140px;
          border-radius: 50%;
          box-shadow: 0 0 140px 140px rgba(0,0,0,.2);
        }

        .bg-circle-container{
          background: rgba(3, 77, 154,.95);
          width: 1200px;
          height: 1200px;
          border-radius: 50%;
          position: relative;
          // right: 50%;
              right: 98%;
              
          z-index: 2;

          .bg-circle-big{
            box-shadow: 0px 0px 50px 20px rgba(50,50,50,.1);
            background:linear-gradient(90deg, rgba(3,77,154,.9) 0%, rgba(3,77,154,.9) 100%), url("../img/code-syntax.jpg")center center;
            background-size: 950px;
            width: 1200px;
            height: 1200px;
            filter: blur(3px);
            border-radius: 50%;
            position: relative;
            // left: 3px;
            // right: 3px;
            // // right: 30%;
            z-index: 1;
          }
        }
    }

    .intro-area{
        width: 50%;
        display: inline-block;

        h5{
          margin-left: 50px;
          font-size: 80px;
          letter-spacing: -5px;
          font-weight: 800;
          background: rgb(255,255,255);
          background: linear-gradient(0deg, rgba(255,255,255,0) 20%, rgba(255,255,255,.08) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .yellow-bg{
          // right: 20px;
          //a) left: 20px;
          // background: url("../img/yellowbg4.svg");
          background: $main-yellow;
          padding: 45px 75px;
          margin-top: -12px;
          width: 850px;
          height: 300px;
          position: relative;
           right: 39%;
          //  right: 600px;
          z-index: 5;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);          filter: drop-shadow(-20px 20px 10px rgba(50,50,50,0.1));

          h1{
            font-size: 55px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            margin-top: -8px;

            span{
              font-weight: 300;
              font-family: 'Lato', sans-serif;
            }
          }

          h3{
            font-size: 28px;
            color: #fff;
            text-transform: capitalize;
            margin-top: 10px;
          }

          p{
            font-size: 1.1rem;
            color: #fff;
            font-weight: 500;
            margin-top: 40px;
          }

          .call-actions{
            margin-top: 50px;
            margin-bottom: 12px;

            a{
              margin-right: 20px;
              text-transform: uppercase;
              padding: 10px 30px;
              font-size: 14px;
              font-weight: 700;
              letter-spacing: 1px;
              border-radius: 5px;
              transition: all .2s ease-in-out;
              
              &.resume-btn{
                background: #fff;
                color: $main-yellow;
              }
              
              &.hire-btn{
                padding: 7px 27px;
                border: 3px solid #fff;
                color: #fff;
              }

              &:hover{
                background: $main-blue;
                color: #fff;
                border: none;
                padding: 10px 30px;
              }
            }
          }

          .bg-cutout{
            width: 342px;
            // float: left;
            position: absolute;
            top: 50%;
            right: 61.9%;
            transform: translateY(-50%) scaleX(-1);
            //a)  transform: scaleX(-1);
          }
        }
    }
  }

 


}