#projects-section{
  background: $lt-gray;
  padding: 180px 0 150px;
  margin-top: -68px;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);

  .section-title{
    img{
      width: 200px;
    }

    p{
      margin: 17px auto 0;
      width: 500px;
      line-height: 1.5;
      font-size: 1rem;
      color: $med-black;
      font-weight: 500;
    }
  }

  .projects-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr .86fr 1fr;
    grid-template-rows: 325px 325px;
    grid-gap: 25px;

    .projects{
      position: relative;
      z-index: 5;
      overflow: hidden;
      transition: background .4s ease-in-out;
    
      &:hover{
        background: $main-yellow !important;
        box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.05);
      }

      .project-info-box{
        width: 95%;
        height: 94%;
        background: #fff;
        padding: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        transform: translate(-60%, 60%);
        opacity: 0;
        transition: all .5s cubic-bezier(0,.02,.33,1.35);        

        &.info-box-xl{
          height: 97%;
          width: 94%;
          padding: 50% 30px;
          .project-title{
            .title-container{
              display: flex;
            }
          }
        }

        .project-title{
          text-transform: capitalize;
          margin: 0 auto;
          text-align: center;

          .title-container{
            display: flex;
          }

          .placement {
            display: inline-block;
            margin-right: 17px;
            font-size: 3.3rem;
            font-weight: 900;
            color: $main-yellow;
            text-align: left;
          }

          h6 {
            display: inline-block;
            text-align: left;
            font-size: 1.2rem;
            font-weight: 600;
            color: $med-black;
            line-height: 1.2;
          }
        }

        .project-desc{
          text-align: left;
          margin: 35px auto;
          line-height: 1.5;
          color: $med-gray;
        }

        .project-btns{
          margin: 0 auto;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 1px;
          
          .code-btn-container{
            margin-right: 15px;      

            .code-btn{
              display: block;
              margin: 0 auto 5px;
              transition: all .2s ease-in-out;
            }

            img{
              display: block;
              margin-left: -1px;
              opacity: 0; 
              transform: translateY(- 5px);
	            transition: transform .2s $easeOutBack, opacity .15s;
            }

            &:hover{
              .code-btn{
                color: $dark-yellow;
              } 
              
              img{
                opacity: 1;
			          transform: translateY(0);
              }
            }
          }

          .site-btn-container{
            margin-left: 15px;      

            .site-btn{
              display: block;
              margin: 0 auto 5px;
              transition: all .2s ease-in-out;
            }

            img{
              display: block;
              opacity: 0; 
              transform: translateY(- 5px);
	            transition: transform .2s $easeOutBack, opacity .15s;
            }

            &:hover{
              .site-btn{
                color: $dark-yellow;
                position: relative;
              } 

              img{
                opacity: 1;
                transform: translateY(0);
                position: relative;
                right: 2px;
              }
            }
          }
        }
      }

      &:hover .project-info-box{
        transform: translate(0%, 0%);
        opacity: 1;
      }

      &.project1{
        grid-column: 1/2;
        grid-row: 1/2;
        background: url("https://cdn.dribbble.com/users/443226/screenshots/5321244/music_ui_design_preview.jpg") center center;
        background-repeat: no-repeat;
        background-size: 155%;
      } 

      &.project2{
        grid-column: 2/3;
        grid-row: 1/3;
        background: url("https://cdn.dribbble.com/users/14268/screenshots/5395958/reilanding.png")center left;
        background-repeat: no-repeat;
        background-size: cover;        
      }

      &.project3{
        grid-column: 3/4;
        grid-row: 1/2;
        background: url("https://cdn.dribbble.com/users/160219/screenshots/6084707/ro_2x.png")center center;
        background-repeat: no-repeat;
        background-size: cover;

        .placement{
          vertical-align: middle;
        }
      }

      &.project4{
        grid-column: 1/2;
        grid-row: 2/3;
        background: url("https://cdn.dribbble.com/users/1355613/screenshots/6086560/vr.png")center center;
        background-repeat: no-repeat;
        background-size: 150%;
      }

      &.project5{
        grid-column: 3/4;
        grid-row: 2/3;
        background: url("https://cdn.dribbble.com/users/504740/screenshots/6086531/mono.jpg")center center;
        background-repeat: no-repeat;
        background-size: cover;
        
        .placement{
          vertical-align: top;
        }
      }
    }
  }
}




 /* tablet */
 @media only screen and (min-width: 769px) and (max-width: 900px){ 
  #projects-section{
    .projects-container{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 325px 325px 325px;

      .projects{
        .project-info-box{    
          height: 95.5% !important;            

          &.info-box-xl{
            width: 96%;
            height: 95.5%;            
            padding: 30px;
          }

          .project-btns{
            letter-spacing: 1px;
          }

          .project-btns{
            .code-btn-container{
              margin: 0;     
            }

            .site-btn-container{
              margin: 0;
            }
          }
        }

        &.project1{
          grid-column: 1/3;
          grid-row: 1/2;

          .project-info-box{
            width: 98%;
            height: 94.5% !important;
            padding: 30px 10%;
          }
        } 

        &.project2{
          grid-column: 1/2;
          grid-row: 2/3;    

          .project-btns{
            display: flex;
            
            .code-btn-container{
              margin-right: 15px; 
              margin-bottom: 0;   
              text-align: center;  

              img{
                width: auto;
                margin: 0 auto;
              }
            }

            .site-btn-container{
              margin-left: 15px;   
              text-align: center;    

              img{
                width: auto;
                margin: 0 auto;
              }
            }
          }     
        }

        &.project3{
          grid-column: 2/3;
          grid-row: 2/3;

          .project-info-box{
            width: 96%;
            height: 96%;
          }
        }

        &.project4{
          grid-column: 1/2;
          grid-row: 3/4;

          .project-info-box{
            width: 96%;
            height: 96%;
          }
        }

        &.project5{
          grid-column: 2/3;
          grid-row: 3/4;

          .project-info-box{
            width: 96%;
            height: 96%;
          }

          .placement{
            vertical-align: top;
          }
        }
      }
    }
  }
}
 /* tablet */
 @media only screen and (min-width: 801px) and (max-width: 839px){ 
  #projects-section{
    .projects-container{
      .projects{
        &.project1{
          .project-info-box{
            height: 95% !important;
          }
        } 
      }
    }
  }
}

@media only screen and (min-width: 751px) and (max-width: 800px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 34vh 41vh 41vh !important;
      
      .projects{
        .project-info-box{
          // width: 97% !important;
          // height: 95% !important;
          // padding: 26px;
          

          .project-title{
            .title-container{
              .placement{
                // font-size: 2.8rem;
              }
            }
          }
        }

        &.project1{
          .project-info-box{
            // padding: 26;
            // width: 97% !important;
            // height: 95% !important;
          }
        } 

        &.project2{
          // grid-column: 1/3;
          // grid-row: 2/3;    
          
          .project-info-box, .info-box-xl{
            padding: 30;
          }
        }

        &.project3{
          // grid-column: 1/3;
          // grid-row: 3/4;
        }

        &.project4{
          // grid-column: 1/3;
          // grid-row: 4/5;

          .project-info-box{
            .project-title{
              // text-align: center;
              // margin: 0 auto;

              .title-container{
                .placement {
                  // bottom: 1px;
                  // float: none;
                }

                h6{
                  // float: none;
                }
              }    
            }

            .project-btns {
              // position: relative;
              // top: 20px;
            }
          }
        }

        &.project5{
          // grid-column: 1/3;
          // grid-row: 5/6;
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 751px) and (max-width: 780px){ 
  #projects-section{
    .projects-container{
    grid-template-rows: 35vh 45vh 45vh !important;
    }
  }
}

@media only screen and (min-width: 764px) and (max-width: 768px){ 
  #projects-section{
    .projects-container{
      // grid-template-rows: 34vh 41vh 41vh !important;
      
      .projects{
        .project-info-box{
          // width: 97% !important;
          // height: 95% !important;
          // padding: 26px;
          

          .project-title{
            .title-container{
              .placement{
                // font-size: 2.8rem;
              }
            }
          }
        }

        &.project1{
          .project-info-box{
            // padding: 26;
            // width: 97% !important;
            // height: 95% !important;
          }
        } 

        &.project2{
          // grid-column: 1/3;
          // grid-row: 2/3;    
          
          .project-info-box, .info-box-xl{
            // padding: 30;
          }
        }

        &.project3{
          // grid-column: 1/3;
          // grid-row: 3/4;
        }

        &.project4{
          // grid-column: 1/3;
          // grid-row: 4/5;

          .project-info-box{
            .project-title{
              // text-align: center;
              // margin: 0 auto;



              .title-container{
                display: flex;

                .placement {
                  position: relative;
                  bottom: 21px;
                  // bottom: 1px;
                  // float: none;
                }

                h6{             
                  // float: none;
                }
              }    
            }

            .project-btns {
              // position: relative;
              // top: 20px;
            }
          }
        }

        &.project5{
          // grid-column: 1/3;
          // grid-row: 5/6;
        }
      }
    }
  }
}


 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 768px){ 
  #projects-section{
    .section-title{
      img{
        width: 170px;
      }

      p{
        width: 100%;
      }
    }

    .projects-container{
      grid-template-columns: 1fr 1fr;

      .projects{
        .project-info-box{     
          height: 96.5%;      
          width: 96%;

          &.info-box-xl{
            width: 96%;
            height: 96.5%;          
          }
        }

        &.project1{
          grid-column: 1/3;
          grid-row: 1/2;

          .project-info-box{
            width: 98%;
            height: 95.5%;
            padding: 30px 10%;
          }
        } 

        &.project2{
          grid-column: 1/2;
          grid-row: 2/3;       
        }

        &.project3{
          grid-column: 2/3;
          grid-row: 2/3;

          .project-info-box{
            // width: 96%;
            // height: 96.5%;
          }
        }

        &.project4{
          grid-column: 1/2;
          grid-row: 3/4;

          .project-info-box{
            // width: 96%;
            // height: 96.5%;
          }
        }

        &.project5{
          grid-column: 2/3;
          grid-row: 3/4;

          .project-info-box{
            // width: 96%;
            // height: 96.5%;
          }

          .placement{
            vertical-align: top;
          }
        }
      }
    }
  }
}


 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 763px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 26.8vh 31.8vh 33vh;

      .projects{
        padding: 30px;

        &.project4{
          .project-info-box{
            .project-title{
              text-align: left;

              .title-container{
                display: flex;
                .placement{
                  position: relative;
                }

                h6{
                  br{
                    display: none;
                  }
                }              
              }
            }
          }
        }

        .project-info-box{
          &.info-box-xl{
            padding: 30px;
          }
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 671px) and (max-width: 750px){ 
  #projects-section{
    .projects-container{
    grid-template-rows: 39vh 45vh 45vh !important;
    }
  }
}

@media only screen and (min-width: 626px) and (max-width: 750px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 34vh 41vh 41vh;
      
      .projects{
        .project-info-box{
          // width: 97% !important;
          // height: 95% !important;
          padding: 30px;
          

          .project-title{
            .title-container{
              .placement{
                // font-size: 2.8rem;
              }
            }
          }
        }

        &.project1{
          .project-info-box{
            // padding: 26;
            // width: 97% !important;
            // height: 95% !important;
          }
        } 

        &.project2{
          // grid-column: 1/3;
          // grid-row: 2/3;    
          
          .project-info-box, .info-box-xl{
            // padding: 26;
          }
        }

        &.project3{
          // grid-column: 1/3;
          // grid-row: 3/4;
        }

        &.project4{
          // grid-column: 1/3;
          // grid-row: 4/5;

          .project-info-box{
            .project-title{
              // text-align: center;
              // margin: 0 auto;

              .title-container{
                display: flex;
                .placement {
                  // bottom: 1px;
                  // float: none;
                }

                h6{
                  // width: 77%;
                  // float: none;
                }
              }    
            }

            .project-btns {
              // position: relative;
              // top: 20px;
            }
          }
        }

        &.project5{
          // grid-column: 1/3;
          // grid-row: 5/6;
        }
      }
    }
  }
}

@media only screen and (min-width: 701px) and (max-width: 745px){ 
  #projects-section{
    .projects-container{      
      .projects{
        &.project4{
          .project-info-box{
            .project-title{
              .title-container{
                display: flex;
                .placement {
                }

                h6{
                }
              }    
            }
          }
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 717px) and (max-width: 727px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 34vh 41vh 41vh;

      .projects{
        &.project2{
          .project-title{
            .title-container{
              display: flex;

              h6{
                // width: 70%;

                br{
                  display: none;
                }
              }
            }
          }
        }

        .project-info-box{

          &.info-box-xl{
          }
        }
      }
    }
  }
}


 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 716px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 34vh 41vh 41vh;

      .projects{
        &.project2{
          .project-title{
            display: flex;
            .title-container{
              h6{
                // width: 70%;

                br{
                  display: none;
                }
              }
            }
          }
        }

        .project-info-box{

          &.info-box-xl{
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 671px) and (max-width: 700px){ 
  #projects-section{
    .projects-container{      
      .projects{
        &.project4{
          .project-info-box{
            .project-title{
              .title-container{
                display: flex;
                .placement {
                }

                h6{
                  // width: 73%;
                }
              }    
            }
          }
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
 @media only screen and (min-width: 659px) and (max-width: 670px){ 
  #projects-section{
    .projects-container{
    grid-template-rows: 34vh 43.5vh 43.5vh !important;
    }
  }
}

@media only screen and (min-width: 626px) and (max-width: 670px){ 
  #projects-section{
    .projects-container{
      // grid-template-rows: 34vh 41vh 41vh;
      
      .projects{
        .project-info-box{
          // width: 97% !important;
          // height: 95% !important;
          padding: 24px !important;
          

          .project-title{
            .title-container{
              .placement{
                // font-size: 2.8rem;
              }
            }
          }
        }

        &.project1{
          .project-info-box{
            // padding: 26;
            // width: 97% !important;
            // height: 95% !important;
          }
        } 

        &.project2{
          // grid-column: 1/3;
          // grid-row: 2/3;    
          
          .project-info-box, .info-box-xl{
            // padding: 26;
          }
        }

        &.project3{
          // grid-column: 1/3;
          // grid-row: 3/4;
        }

        &.project4{
          // grid-column: 1/3;
          // grid-row: 4/5;

          .project-info-box{
            .project-title{
              // text-align: center;
              // margin: 0 auto;

              .title-container{
                display: flex;
                .placement {
                  // bottom: 1px;
                  // float: none;
                }

                h6{
                  // width: 74%;
                  // float: none;
                }
              }    
            }

            .project-btns {
              // position: relative;
              // top: 20px;
            }
          }
        }

        &.project5{
          // grid-column: 1/3;
          // grid-row: 5/6;
        }
      }
    }
  }
}




 /* Tablet (portrait and landscape) */
 @media only screen and (min-width: 644px) and (max-width: 658px){ 
  #projects-section{
    .projects-container{
    grid-template-rows: 37vh 43.5vh 43.5vh !important;
    }
  }
}


 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 658px){ 
  #projects-section{
    .projects-container{
      .projects{
        &.project4{
          .project-info-box{
            .project-title{
              .title-container{
                .placement{
                  float: left;
                }

                h6{
                  float: left;
                }              
              }
            }
          }
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
 @media only screen and (min-width: 626px) and (max-width: 643px){ 
  #projects-section{
    .projects-container{
    grid-template-rows: 37vh 47vh 47vh !important;
    }
  }
}


 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 626px){ 
  #projects-section{
    .projects-container{
      .projects{
        &.project1{
          .project-info-box{
            width: 98.4% !important;
            height: 97% !important;
          }
        }

        .project-info-box{
          width: 97% !important;
          height: 97% !important;
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 490px) and (max-width: 625px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 36.5vh 36.5vh 36.5vh 36.5vh 36.5vh !important;
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 625px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 33vh 33vh 33vh 33vh 33vh;
      
      .projects{
        .project-info-box{
          width: 97% !important;
          height: 95% !important;
          padding: 26px;
          

          .project-title{
            .title-container{
              .placement{
                font-size: 2.8rem;
              }
            }
          }
        }

        &.project1{
          .project-info-box{
            padding: 26;
            width: 97% !important;
            height: 95% !important;
          }
        } 

        &.project2{
          grid-column: 1/3;
          grid-row: 2/3;    
          
          .project-info-box, .info-box-xl{
            padding: 26;
          }
        }

        &.project3{
          grid-column: 1/3;
          grid-row: 3/4;
        }

        &.project4{
          grid-column: 1/3;
          grid-row: 4/5;

          .project-info-box{
            .project-title{
              text-align: center;
              margin: 0 auto;

              .title-container{
                .placement {
                  bottom: 1px;
                  float: none;
                }

                h6{
                  float: none;
                }
              }    
            }
          }
        }



        &.project5{
          grid-column: 1/3;
          grid-row: 5/6;
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 617px){ 
  #projects-section{
    .projects-container{
      .projects{
        &.project4{
          .project-info-box{
            .project-title{
              .title-container{
                h6{
                }              
              }
            }
          }
        }

        .project-info-box{
          .project-title{
            .title-container{
              h6{
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 489px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 40vh 40vh 40vh 40vh 40vh !important;
    }
  }
}





/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (max-width: 479px){ 
  #projects-section{
    padding: 6.25rem 1.25rem;
    margin-top: -47px;
    clip-path: polygon(0% 0%, 100% 2.1%, 100% 100%, 0% 100%);

    .section-title{
      img{
        width: 150px;
      }

      p{
        width: 100%;
        text-align: left;
      }
    }

    .projects-container{
      grid-template-columns: 1fr;
      grid-template-rows: 340px 340px 340px 340px 340px;
      grid-gap: 30px;

      .projects{
        .project-info-box{
          padding: 6%;
          text-align: left;  
          width: 96%;
          height: 95%;     

          &.info-box-xl{
            width: 96%;
            height: 95%;
            padding: 6%;
          }

          .project-title{
            text-align: left;

            .title-container{
            }

            h6 {
              font-size: 1.25rem;
            }
          }

          .project-desc{
            margin: 30px auto;
          }
        }

        &.project1{
          grid-column: 1/2;
          grid-row: 1/2;
        } 

        &.project2{
          grid-column: 1/2;
          grid-row: 2/3;     
        }

        &.project3{
          grid-column: 1/2;
          grid-row: 3/4;
        }

        &.project4{
          grid-column: 1/2;
          grid-row: 4/5;
        }

        &.project5{
          grid-column: 1/2;
          grid-row: 5/6;

          .placement{
            vertical-align: baseline;
          }
        }
      }
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 331px) and (max-width: 402px){ 
  #projects-section{
    .projects-container{
      .projects{
        .project-info-box{
          height: 96%;     
          width: 96%;

          &.info-box-xl{
            width: 96%;
            height: 96%;
          }
        }
      }
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (max-width: 330px){ 
  #projects-section{
    .projects-container{
      .projects{
        .project-info-box{
          height: 96%; 
          width: 95%;    

          &.info-box-xl{
            height: 96%;
            width: 95%;
          }
        }
      }
    }
  }
}






 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 1200px){ 
//No other diferent styles for this device width.
}

 /* laptop */
@media only screen and (min-width: 1135px) and (max-width: 1140px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 42vh 42vh;

      .projects{
        .project-info-box{
          height: 95% !important;
          // padding: 25px;

          &.info-box-xl{
            height: 97.5% !important;
          }

          .project-title{
            // text-align: left;

            .title-container{
              // display: flex;
              // margin-top: -3px;
            }

            .placement {
              // margin-right: 15px;
            }
          }
        }

        &.project2{
          .project-info-box{
            .project-title{
              .title-container{
                // display: flex;
                
                .placement{
                  // display: block;
                }

                h6{
                  // display: block;
                }
              }
            }
          }       
        }

        &.project3{
         .project-info-box{
            .project-title{
              .title-container{
                .placement{
                  // vertical-align: baseline;
                }

                h6{
                  // margin-top: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 1134px){ 
  #projects-section{
    .projects-container{
      .projects{
        .project-info-box{
          padding: 25px;

          .project-title{
            text-align: left;

            .title-container{
              display: flex;
              margin-top: -3px;
            }

            .placement {
              margin-right: 15px;
            }
          }
        }

        &.project2{
          .project-info-box{
            .project-title{
              .title-container{
                display: flex;
                
                .placement{
                  display: block;
                }

                h6{
                  display: block;
                }
              }
            }
          }       
        }

        &.project3{
         .project-info-box{
            .project-title{
              .title-container{
                .placement{
                  vertical-align: baseline;
                }

                h6{
                  margin-top: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}


//1051-1040
@media only screen and (min-width: 1040px) and (max-width: 1051px){ 
  #projects-section{
    .projects-container{
      .projects{
        .project-info-box{
          height: 95% !important;

          &.info-box-xl{
            height: 97.5% !important;
          }
        }

        &.project1{

        } 

        &.project2{
     
        }

        &.project3{

        }

        &.project4{

        }

        &.project5{
        }
      }
    }
  }
}



 /* laptop */
@media only screen and (min-width: 1000px) and (max-width: 1050px){ 
  #projects-section{
    .projects-container{
      .projects{
        .project-info-box{
          // padding: 30px;       
          width: 95%;
          height: 95%;
      

          &.info-box-xl{
            width: 94.5% !important;
            height: 97.5% !important;
          }

          .project-title{
            .title-container{
            }
          }
        }
      }
    }
  }
}

 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 1025px){ 
//pass
}

 /* laptop */
@media only screen and (min-width: 950px) and (max-width: 999px){ 
  #projects-section{
    .projects-container{
      .projects{
        .project-info-box{
          // padding: 30px;       
          width: 96% !important;
          height: 96% !important;

          &.info-box-xl{
            width: 95% !important;
            height: 98% !important;
          }

          .project-title{
            .title-container{
            }
          }
        }
      }
    }
  }
}

 /* laptop */
@media only screen and (min-width: 901px) and (max-width: 949px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 48.5vh 48.5vh;

      .projects{
        .project-info-box{
          &.info-box-xl{
            height: 98.3% !important;            width: 95% !important;
          }
        }
      }
    }
  }
}

 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 949px){ 
  #projects-section{
    .projects-container{
      .projects{
        .project-info-box{
          padding: 30px;       
          width: 96%;
          height: 97%;

          &.info-box-xl{
          }

          .project-title{
            .title-container{
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}


 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 885px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 335px 335px 335px;

      .projects{
        .project-info-box{
          width: 96%;
          height: 97%;
          padding: 30px;       

          &.info-box-xl{
          }

          .project-title{
            .title-container{
              margin-top: 0px;
            }
          }

          .project-btns{
            letter-spacing: 0px;
            
            .code-btn-container{
              margin-right: 0px;      
            }

            .site-btn-container{
              margin-left: 0px;     
            }
          }
        }

        &.project1{
          .project-info-box{
            .project-title{ 
              .title-container {
                justify-content: center;
              }
            }  
          } 
        } 
      }
    }
  }
}






