#projects-section{
  background: $lt-gray;
  padding: 180px 0 150px;
  margin-top: -68px;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);

  .section-title{
    text-align: center;
    margin-bottom: 70px;

    h2{
      margin-top: -5px;
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      color: $rich-black;
    }

    p{
      margin: 17px auto 0;
      width: 500px;
      line-height: 1.5;
      font-size: 1rem;
      color: $med-black;
      font-weight: 500;
    }
  }

  .projects-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr .86fr 1fr;
    grid-template-rows: 325px 325px;
    grid-gap: 25px;

    .projects{
      position: relative;
    
      &:hover{
        background: $main-yellow !important;
        box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.05);
      }

      &:hover .project-info-box{
        display: block;
      }

      .project-info-box{
        display: none;
        width: 95%;
        height: 94%;
        background: #fff;
        padding: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: middle;

        &.info-box-xl{
          height: 97%;
          width: 94%;
           padding: 50% 30px;
        }

        .project-title{
          text-transform: capitalize;
          margin: 0 auto;
          text-align: center;

          .title-container{
            display: inline-block;
          }

          .placement {
            display: inline-block;
            margin-right: 17px;
            font-size: 3.3rem;
            font-weight: 900;
            color: $main-yellow;
            text-align: left;
          }

          h6 {
            display: inline-block;
            text-align: left;
            font-size: 1.2rem;
            font-weight: 600;
            color: $med-black;
            line-height: 1.2;
          }
        }

          .project-desc{
            text-align: left;
            margin: 35px auto;
            line-height: 1.5;
            color: $med-gray;
          }

        .project-btns{
          margin: 0 auto;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 1px;
          
          .code-btn{
            margin-right: 15px;      
          }
          .site-btn{
            margin-left: 15px;      
          }

          .code-btn,.site-btn {
            &:hover{
              color: $dark-yellow;
              padding-bottom: 5px;
              border-bottom: 3px solid $main-yellow;
            }
          }
        }
      }

      &.project1{
        grid-column: 1/2;
        grid-row: 1/2;
        background: url("https://cdn.dribbble.com/users/443226/screenshots/5321244/music_ui_design_preview.jpg") center center;
        background-repeat: no-repeat;
        background-size: 155%;
        border-radius: 5px 0 0 0;
      } 

      &.project2{
        grid-column: 2/3;
        grid-row: 1/3;
        background: #5588af;
        background: url("https://cdn.dribbble.com/users/14268/screenshots/5395958/reilanding.png")center left;
        background-repeat: no-repeat;
        background-size: cover;        
      }

      &.project3{
        grid-column: 3/4;
        grid-row: 1/2;
        background: #5cdd78;
        border-radius: 0 5px 0 0;
        background: url("https://cdn.dribbble.com/users/160219/screenshots/6084707/ro_2x.png")center center;
        background-repeat: no-repeat;
        background-size: cover;

        .placement{
          vertical-align: middle;
        }
      }

      &.project4{
        grid-column: 1/2;
        grid-row: 2/3;
        background: #22aaff;
        background: url("https://cdn.dribbble.com/users/1355613/screenshots/6086560/vr.png")center center;
        background-repeat: no-repeat;
        background-size: 150%;
      }

      &.project5{
        grid-column: 3/4;
        grid-row: 2/3;
        background: #e64fdc;
        background: url("https://cdn.dribbble.com/users/504740/screenshots/6086531/mono.jpg")center center;
        background-repeat: no-repeat;
        background-size: cover;
        

        .placement{
          vertical-align: middle;
        }
      }
    }
  }
}