#projects-section{
  background: $lt-gray;
  padding: 180px 0 150px;
  margin-top: -68px;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);

  .section-title{
    img{
      width: 200px;
    }
    p{
      margin: 17px auto 0;
      width: 500px;
      line-height: 1.5;
      font-size: 1rem;
      color: $med-black;
      font-weight: 500;
    }
  }

  .projects-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr .86fr 1fr;
    grid-template-rows: 325px 325px;
    grid-gap: 25px;

    .projects{
      position: relative;
      z-index: 5;
      overflow: hidden;
      transition: background .4s ease-in-out;
    
      &:hover{
        background: $main-yellow !important;
        box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.05);
      }

      .project-info-box{
        width: 95%;
        height: 94%;
        background: #fff;
        padding: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        transform: translate(-60%, 60%);
        opacity: 0;
        transition: all .5s cubic-bezier(0,.02,.33,1.35);        

        &.info-box-xl{
          height: 97%;
          width: 94%;
          padding: 50% 30px;
        }

        .project-title{
          text-transform: capitalize;
          margin: 0 auto;
          text-align: center;

          .title-container{
            display: inline-block;
          }

          .placement {
            display: inline-block;
            margin-right: 17px;
            font-size: 3.3rem;
            font-weight: 900;
            color: $main-yellow;
            text-align: left;
          }

          h6 {
            display: inline-block;
            text-align: left;
            font-size: 1.2rem;
            font-weight: 600;
            color: $med-black;
            line-height: 1.2;
          }
        }

          .project-desc{
            text-align: left;
            margin: 35px auto;
            line-height: 1.5;
            color: $med-gray;
          }

        .project-btns{
          margin: 0 auto;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 1px;
          
          .code-btn-container{
            margin-right: 15px;      

            .code-btn{
              display: block;
              margin: 0 auto 5px;
              transition: all .2s ease-in-out;
            }

            img{
              display: block;
              margin-left: -1px;
              opacity: 0; 
              transform: translateY(- 5px);
	            transition: transform .2s $easeOutBack, opacity .15s;
            }

            &:hover{
              .code-btn{
              color: $dark-yellow;
              } 
              
              img{
                opacity: 1;
			          transform: translateY(0);
              }
            }
          }

          .site-btn-container{
            margin-left: 15px;      

            .site-btn{
              display: block;
              margin: 0 auto 5px;
              transition: all .2s ease-in-out;
            }

            img{
              display: block;
              opacity: 0; 

              transform: translateY(- 5px);
	            transition: transform .2s $easeOutBack, opacity .15s;
            }

            &:hover{
              .site-btn{
                color: $dark-yellow;
                position: relative;
              } 

              img{
                opacity: 1;
                transform: translateY(0);
                position: relative;
                right: 2px;
              }
            }
          }
        }
      }

      &:hover .project-info-box{
        transform: translate(0%, 0%);
        opacity: 1;
      }

      &.project1{
        grid-column: 1/2;
        grid-row: 1/2;
        background: url("https://cdn.dribbble.com/users/443226/screenshots/5321244/music_ui_design_preview.jpg") center center;
        background-repeat: no-repeat;
        background-size: 155%;
      } 

      &.project2{
        grid-column: 2/3;
        grid-row: 1/3;
        background: url("https://cdn.dribbble.com/users/14268/screenshots/5395958/reilanding.png")center left;
        background-repeat: no-repeat;
        background-size: cover;        
      }

      &.project3{
        grid-column: 3/4;
        grid-row: 1/2;
        background: url("https://cdn.dribbble.com/users/160219/screenshots/6084707/ro_2x.png")center center;
        background-repeat: no-repeat;
        background-size: cover;

        .placement{
          vertical-align: middle;
        }
      }

      &.project4{
        grid-column: 1/2;
        grid-row: 2/3;
        background: url("https://cdn.dribbble.com/users/1355613/screenshots/6086560/vr.png")center center;
        background-repeat: no-repeat;
        background-size: 150%;
      }

      &.project5{
        grid-column: 3/4;
        grid-row: 2/3;
        background: url("https://cdn.dribbble.com/users/504740/screenshots/6086531/mono.jpg")center center;
        background-repeat: no-repeat;
        background-size: cover;
        
        .placement{
          vertical-align: middle;
        }
      }
    }
  }
}



 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 768px){ 
  #projects-section{
    .section-title{
      img{
        width: 170px;
      }

      p{
        width: 100%;
      }
    }

    .projects-container{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 26.8vh 31.8vh 31.8vh;

      .projects{
        .project-info-box{       
          &.info-box-xl{
            width: 96%;
            height: 96%;
            padding: 30px;
          }
        }

        &.project1{
          grid-column: 1/3;
          grid-row: 1/2;

          .project-info-box{
            width: 98%;
            height: 95%;
            padding: 30px 10%;
          }
        } 

        &.project2{
          grid-column: 1/2;
          grid-row: 2/3;       
        }

        &.project3{
          grid-column: 2/3;
          grid-row: 2/3;

          .project-info-box{
            width: 96%;
            height: 96%;
          }
        }

        &.project4{
          grid-column: 1/2;
          grid-row: 3/4;

          .project-info-box{
            width: 96%;
            height: 96%;
          }
        }

        &.project5{
          grid-column: 2/3;
          grid-row: 3/4;

          .project-info-box{
            width: 96%;
            height: 96%;
          }

          .placement{
            vertical-align: top;
          }
        }
      }
    }
  }
}


 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 763px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 26.8vh 31.8vh 33vh;

      .projects{
        padding: 26px;

        &.project4{
          grid-column: 1/2;
          grid-row: 3/4;

          .project-info-box{
            
            .project-title{
              text-align: left;

              .title-container{
                .placement{
                  position: relative;
                  bottom: 10px;
                }

                h6{
                  width: 75%;

                  br{
                    display: none;
                  }
                }              
              }
            }
          }
        }

        .project-info-box{
          &.info-box-xl{
            padding: 26px;
          }
        }
      }
    }
  }
}


 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 716px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 27.8vh 31.8vh 33vh;
      
      .projects{
        &.project2{
          .project-title{
            .title-container{
              h6{
                width: 70%;
                br{
                  display: none;
                }
              }
            }
          }
        }

        .project-info-box{
          padding: 22px;

          &.info-box-xl{
            padding: 22px;
          }
        }
      }
    }
  }
}


 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 666px){ 
  #projects-section{
    .projects-container{
      .projects{
        .project-info-box{
          padding: 20px;

          &.info-box-xl{
            padding: 20px;
          }
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 658px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 27.8vh 31.8vh 33vh;
      
      .projects{
        &.project4{
          .project-info-box{
            .project-title{
              .title-container{
                .placement{
                  bottom: -8px;
                  float: left;
                }
                h6{
                  float: left;
                }              
              }
            }
          }
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 626px){ 
  #projects-section{
    .projects-container{
      grid-template-rows: 27.8vh 31.8vh 33vh;
      
      .projects{
        &.project1{
          .project-info-box{
            width: 98.4% !important;
            height: 97% !important;
          }
        }

        .project-info-box{
          width: 97% !important;
          height: 97% !important;
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 617px){ 
  #projects-section{

    .projects-container{
      grid-template-rows: 27.8vh 32vh 33vh;
      
      .projects{
        &.project4{
          .project-info-box{
            .project-title{
              .title-container{
                .placement{
                  bottom: -8px;
                  float: left;
                }
                h6{
                  float: left;
                  width: 65%;
                }              
              }
 
            }
          }
        }

        .project-info-box{
          width: 97% !important;
          height: 97% !important;

          .project-title{
            .title-container{
              h6{
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 578px){ 
  #projects-section{

    .projects-container{
      grid-template-rows: 28vh 35vh 35vh;
      
      .projects{
        .project-info-box{
          .project-title{
            .title-container{
              .placement{
                font-size: 2.8rem;
              }
            }
          }
        }
      }
    }
  }
}
 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 577px){ 
  #projects-section{

    .projects-container{
      grid-template-rows: 26.8vh 26.8vh 26.8vh 45vh;
      
      .projects{
        .project-info-box{
          width: 97.5% !important;
          height: 95% !important;       

          &.info-box-xl{
            padding: 30px;
          }

          .project-btns{
            .code-btn-container{  
              img{
                display: none;
              }
            }

            .site-btn-container{
              img{
                display: none;
              }
            }
          }
        }

        &.project1{
          grid-column: 1/3;
          grid-row: 1/2;

          .project-info-box{
            width: 97.5% !important;
            height: 95% !important;
            padding: 30px 10%;
          }
        } 

        &.project2{
          grid-column: 1/3;
          grid-row: 2/3;      
        }

        &.project3{
          grid-column: 1/3;
          grid-row: 3/4;

          .project-info-box{
            width: 96%;
            height: 96%;
          }
        }

        &.project4{
          grid-column: 1/2;
          grid-row: 4/5;

          .project-info-box{
            width: 94.7% !important;
            height: 97% !important;

            .project-btns{
              display: block;
              justify-content: initial;
              text-align: center;

              .code-btn-container{  
                margin: 0 auto 17px;   

                .code-btn{
                  margin: 0 auto;
                }
                img{
                  display: none;
                }
              }

              .site-btn-container{
                margin: 0 auto;    

                .site-btn{
                  margin: 0 auto;
                }

                img{
                  display: none;
                }
              }
            }
          }
        }

        &.project5{
          grid-column: 2/3;
          grid-row: 4/5;

          .project-info-box{
            width: 94.7% !important;
            height: 97% !important;

            .project-btns{
              display: block;
              justify-content: initial;
              text-align: center;

              .code-btn-container{  
                margin: 0 auto 17px;   

                .code-btn{
                  margin: 0 auto;
                }
                img{
                  display: none;
                }
              }

              .site-btn-container{
                margin: 0 auto;    

                .site-btn{
                  margin: 0 auto;
                }
                
                img{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}


/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (max-width: 479px){ 
  #projects-section{
      padding: 6.25rem 1.25rem;
      margin-top: -47px;
    clip-path: polygon(0% 0%, 100% 2.1%, 100% 100%, 0% 100%);

    .section-title{
      img{
        width: 150px;
      }

      p{
        width: 100%;
        text-align: left;
        margin: 17px auto 0;
      }
    }

    .projects-container{
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 340px 340px 340px 340px 340px;
      grid-gap: 30px;

      .projects{
        .project-info-box{
          padding: 6%;
          text-align: left;       

          &.info-box-xl{
            width: 95%;
            height: 94%;
            padding: 6%;
          }

          .project-title{
            text-align: left;

            .title-container{
              display: block;
            }

            h6 {
              font-size: 1.25rem;
            }
          }

            .project-desc{
              text-align: left;
              margin: 30px auto;
              line-height: 1.5;
              color: $med-gray;
            }

          .project-btns{
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            
            .code-btn-container{
              margin-right: 15px;      

              .code-btn{
                display: block;
                margin: 0 auto 5px;
                transition: all .2s ease-in-out;
              }

              img{
                display: block;
                margin-left: -1px;
                opacity: 0; 
                transform: translateY(- 5px);
                transition: transform .2s $easeOutBack, opacity .15s;
              }

              &:hover{
                .code-btn{
                color: $dark-yellow;
                } 
                
                img{
                  opacity: 1;
                  transform: translateY(0);
                }
              }
            }

            .site-btn-container{
              margin-left: 15px;      

              .site-btn{
                display: block;
                margin: 0 auto 5px;
                transition: all .2s ease-in-out;
              }

              img{
                display: block;
                opacity: 0; 

                transform: translateY(- 5px);
                transition: transform .2s $easeOutBack, opacity .15s;
              }

              &:hover{
                .site-btn{
                  color: $dark-yellow;
                  position: relative;
                } 

                img{
                  opacity: 1;
                  transform: translateY(0);
                  position: relative;
                  right: 2px;
                }
              }
            }
          }
        }

        &:hover .project-info-box{
          transform: translate(0%, 0%);
          opacity: 1;
        }

        &.project1{
          grid-column: 1/2;
          grid-row: 1/2;
        } 

        &.project2{
          grid-column: 1/2;
          grid-row: 2/3;     
        }

        &.project3{
          grid-column: 1/2;
          grid-row: 3/4;
        }

        &.project4{
          grid-column: 1/2;
          grid-row: 4/5;
        }

        &.project5{
          grid-column: 1/2;
          grid-row: 5/6;
          .placement{
            vertical-align: baseline;
          }
        }
      }
    }
  }
}







 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 1200px){ 
  #projects-section{
    // background: $lt-gray;
    // padding: 180px 0 150px;
    // margin-top: -68px;
    // clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);

    .section-title{
      img{
        // width: 200px;
      }
      p{
        // margin: 17px auto 0;
        // width: 500px;
        // line-height: 1.5;
        // font-size: 1rem;
        // color: $med-black;
        // font-weight: 500;
      }
    }

    .projects-container{
      // margin: 0 auto;
      // display: grid;
      // grid-template-columns: 1fr .86fr 1fr;
      // grid-template-rows: 325px 325px;
      // grid-gap: 25px;

      .projects{
        // position: relative;
        // z-index: 5;
        // overflow: hidden;
        // transition: background .4s ease-in-out;
      
        &:hover{
          // background: $main-yellow !important;
          // box-shadow: 0px 0px 30px 8px rgba(0,0,0,0.05);
        }

        .project-info-box{
          // width: 95%;
          // height: 94%;
          // background: #fff;
          // padding: 30px;
          // position: absolute;
          // bottom: 0;
          // left: 0;
          // z-index: 10;
          // transform: translate(-60%, 60%);
          // opacity: 0;
          // transition: all .5s cubic-bezier(0,.02,.33,1.35);        

          &.info-box-xl{
            // height: 97%;
            // width: 94%;
            // padding: 50% 30px;
          }

          .project-title{
            // text-transform: capitalize;
            // margin: 0 auto;
            // text-align: center;

            .title-container{
              // display: inline-block;
            }

            .placement {
              // display: inline-block;
              // margin-right: 17px;
              // font-size: 3.3rem;
              // font-weight: 900;
              // color: $main-yellow;
              // text-align: left;
            }

            h6 {
              // display: inline-block;
              // text-align: left;
              // font-size: 1.2rem;
              // font-weight: 600;
              // color: $med-black;
              // line-height: 1.2;
            }
          }

            .project-desc{
              // text-align: left;
              // margin: 35px auto;
              // line-height: 1.5;
              // color: $med-gray;
            }

          .project-btns{
            // margin: 0 auto;
            // width: 100%;
            // display: flex;
            // justify-content: space-evenly;
            // font-size: 12px;
            // text-transform: uppercase;
            // font-weight: 700;
            // letter-spacing: 1px;
            
            .code-btn-container{
              // margin-right: 15px;      

              .code-btn{
                // display: block;
                // margin: 0 auto 5px;
                // transition: all .2s ease-in-out;
              }

              img{
                // display: block;
                // margin-left: -1px;
                // opacity: 0; 
                // transform: translateY(- 5px);
                // transition: transform .2s $easeOutBack, opacity .15s;
              }

              &:hover{
                .code-btn{
                // color: $dark-yellow;
                } 
                
                img{
                  // opacity: 1;
                  // transform: translateY(0);
                }
              }
            }

            .site-btn-container{
              // margin-left: 15px;      

              .site-btn{
                // display: block;
                // margin: 0 auto 5px;
                // transition: all .2s ease-in-out;
              }

              img{
                // display: block;
                // opacity: 0; 

                // transform: translateY(- 5px);
                // transition: transform .2s $easeOutBack, opacity .15s;
              }

              &:hover{
                .site-btn{
                  // color: $dark-yellow;
                  // position: relative;
                } 

                img{
                  // opacity: 1;
                  // transform: translateY(0);
                  // position: relative;
                  // right: 2px;
                }
              }
            }
          }
        }

        &:hover .project-info-box{
          // transform: translate(0%, 0%);
          // opacity: 1;
        }

        &.project1{
          // grid-column: 1/2;
          // grid-row: 1/2;
          // background: url("https://cdn.dribbble.com/users/443226/screenshots/5321244/music_ui_design_preview.jpg") center center;
          // background-repeat: no-repeat;
          // background-size: 155%;
        } 

        &.project2{
          // grid-column: 2/3;
          // grid-row: 1/3;
          // background: url("https://cdn.dribbble.com/users/14268/screenshots/5395958/reilanding.png")center left;
          // background-repeat: no-repeat;
          // background-size: cover;        
        }

        &.project3{
          // grid-column: 3/4;
          // grid-row: 1/2;
          // background: url("https://cdn.dribbble.com/users/160219/screenshots/6084707/ro_2x.png")center center;
          // background-repeat: no-repeat;
          // background-size: cover;

          .placement{
            // vertical-align: middle;
          }
        }

        &.project4{
          .project-info-box{
            .project-title{
              .title-container{
                // display: flex;

                .placement{
                  // display: block;
                }
                h6{
                  // display: block;
                }
              }
            }
          }
        }

        &.project5{
          // grid-column: 3/4;
          // grid-row: 2/3;
          // background: url("https://cdn.dribbble.com/users/504740/screenshots/6086531/mono.jpg")center center;
          // background-repeat: no-repeat;
          // background-size: cover;
          
          .placement{
            // vertical-align: middle;
          }
        }
      }
    }
  }
}


 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 1134px){ 
  #projects-section{
    // background: $lt-gray;
    // padding: 180px 0 150px;
    // margin-top: -68px;
    // clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);

    .section-title{
      img{
        // width: 200px;
      }
      p{
        // margin: 17px auto 0;
        // width: 500px;
        // line-height: 1.5;
        // font-size: 1rem;
        // color: $med-black;
        // font-weight: 500;
      }
    }

    .projects-container{
      // margin: 0 auto;
      // display: grid;
      // grid-template-columns: 1fr .86fr 1fr;
      // grid-template-rows: 325px 325px;
      // grid-gap: 25px;

      .projects{
        // position: relative;
        // z-index: 5;
        // overflow: hidden;
        // transition: background .4s ease-in-out;

        .project-info-box{
          // width: 95%;
          // height: 94%;
          // background: #fff;
          padding: 25px;
          // position: absolute;
          // bottom: 0;
          // left: 0;
          // z-index: 10;
          // transform: translate(-60%, 60%);
          // opacity: 0;
          // transition: all .5s cubic-bezier(0,.02,.33,1.35);        

          &.info-box-xl{
            // height: 97%;
            // width: 94%;
            // padding: 50% 30px;
          }

          .project-title{
            // margin: 0 auto;
            text-align: left;

            .title-container{
              // display: inline-block;
              display: flex;
              margin-top: -3px;
            }

            .placement {
              // display: inline-block;
              margin-right: 15px;
              // font-size: 3.3rem;
              // font-weight: 900;
              // color: $main-yellow;
              // text-align: left;
            }

            h6 {
              // display: inline-block;
              // text-align: left;
              // font-size: 1.2rem;
              // font-weight: 600;
              // color: $med-black;
              // line-height: 1.2;
            }
          }

            .project-desc{
              // text-align: left;
              // margin: 35px auto;
              // line-height: 1.5;
              // color: $med-gray;
            }

          .project-btns{
            // margin: 0 auto;
            // width: 100%;
            // display: flex;
            // justify-content: space-evenly;
            // font-size: 12px;
            // text-transform: uppercase;
            // font-weight: 700;
            // letter-spacing: 1px;
            
            .code-btn-container{
              // margin-right: 15px;      

              .code-btn{
                // display: block;
                // margin: 0 auto 5px;
                // transition: all .2s ease-in-out;
              }

              img{
                // display: block;
                // margin-left: -1px;
                // opacity: 0; 
                // transform: translateY(- 5px);
                // transition: transform .2s $easeOutBack, opacity .15s;
              }

              &:hover{
                .code-btn{
                // color: $dark-yellow;
                } 
                
                img{
                  // opacity: 1;
                  // transform: translateY(0);
                }
              }
            }

            .site-btn-container{
              // margin-left: 15px;      

              .site-btn{
                // display: block;
                // margin: 0 auto 5px;
                // transition: all .2s ease-in-out;
              }

              img{
                // display: block;
                // opacity: 0; 

                // transform: translateY(- 5px);
                // transition: transform .2s $easeOutBack, opacity .15s;
              }

              &:hover{
                .site-btn{
                  // color: $dark-yellow;
                  // position: relative;
                } 

                img{
                  // opacity: 1;
                  // transform: translateY(0);
                  // position: relative;
                  // right: 2px;
                }
              }
            }
          }
        }

        &:hover .project-info-box{
          // transform: translate(0%, 0%);
          // opacity: 1;
        }

        &.project1{
          // grid-column: 1/2;
          // grid-row: 1/2;
          // background: url("https://cdn.dribbble.com/users/443226/screenshots/5321244/music_ui_design_preview.jpg") center center;
          // background-repeat: no-repeat;
          // background-size: 155%;
        } 

        &.project2{
          .project-info-box{
            .project-title{
              .title-container{
                display: flex;
                // text-align: left;
                
                .placement{
                  display: block;
                  // float:left;
                  // font-size: 3.2rem;
                  // margin-right: 15px;
                  // margin-right: 0px;
                }
                h6{
                  display: block;
                  // font-size: 1.15rem;
                  // float: left;
                  // width: 100%;
                }
              }
            }
          }       
        }

        &.project3{
         .project-info-box{
            .project-title{
              .title-container{
                // text-align: left;

                .placement{
                  vertical-align: baseline;
                  // display: block;
                  // float:left;
                  // font-size: 3.2rem;
                  // margin-right: 15px;
                  // margin-right: 0px;
                }

                h6{
                  margin-top: 15px;
                  // vertical-align: bottom;
                  // display: block;
                  // font-size: 1.15rem;
                  // float: left;
                  // width: 100%;
                }
              }
            }
          }
        }

        &.project4{
          .project-info-box{
            .project-title{
              .title-container{
                // text-align: left;
                
                .placement{
                  // display: block;
                  // float:left;
                  // font-size: 3.2rem;
                  // margin-right: 15px;
                  // margin-right: 0px;
                }
                h6{
                  // display: block;
                  // font-size: 1.15rem;
                  // float: left;
                  // width: 100%;
                }
              }
            }
          }
        }

        &.project5{
          // grid-column: 3/4;
          // grid-row: 2/3;
          // background: url("https://cdn.dribbble.com/users/504740/screenshots/6086531/mono.jpg")center center;
          // background-repeat: no-repeat;
          // background-size: cover;
          
          .placement{
            // vertical-align: middle;
          }
        }
      }
    }
  }
}


 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 1025px){ 
//pass
}


 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 949px){ 
  #projects-section{
    // background: $lt-gray;
    // padding: 180px 0 150px;
    // margin-top: -68px;
    // clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);

    .section-title{
      img{
        // width: 200px;
      }
      p{
        // margin: 17px auto 0;
        // width: 500px;
        // line-height: 1.5;
        // font-size: 1rem;
        // color: $med-black;
        // font-weight: 500;
      }
    }

    .projects-container{
      // margin: 0 auto;
      // display: grid;
      // grid-template-columns: 1fr .86fr 1fr;
      // grid-template-rows: 325px 325px;
      // grid-gap: 25px;

      .projects{
        // position: relative;
        // z-index: 5;
        // overflow: hidden;
        // transition: background .4s ease-in-out;

        .project-info-box{
          // width: 95%;
          // height: 94%;
          // background: #fff;
          padding: 22px 20px;
          // position: absolute;
          // bottom: 0;
          // left: 0;
          // z-index: 10;
          // transform: translate(-60%, 60%);
          // opacity: 0;
          // transition: all .5s cubic-bezier(0,.02,.33,1.35);        

          &.info-box-xl{
            // height: 97%;
            // width: 94%;
            // padding: 50% 30px;
          }

          .project-title{
            // margin: 0 auto;
            text-align: left;

            .title-container{
              // display: inline-block;
              display: flex;
              margin-top: 0px;
            }

            .placement {
              // display: inline-block;
              margin-right: 15px;
              // font-size: 3.3rem;
              // font-weight: 900;
              // color: $main-yellow;
              // text-align: left;
            }

            h6 {
              // display: inline-block;
              // text-align: left;
              // font-size: 1.2rem;
              // font-weight: 600;
              // color: $med-black;
              // line-height: 1.2;
            }
          }

            .project-desc{
              // text-align: left;
              // margin: 35px auto;
              // line-height: 1.5;
              // color: $med-gray;
            }

          .project-btns{
            // margin: 0 auto;
            // width: 100%;
            // display: flex;
            // justify-content: space-evenly;
            // font-size: 12px;
            // text-transform: uppercase;
            // font-weight: 700;
            // letter-spacing: 1px;
            
            .code-btn-container{
              // margin-right: 15px;      

              .code-btn{
                // display: block;
                // margin: 0 auto 5px;
                // transition: all .2s ease-in-out;
              }

              img{
                // display: block;
                // margin-left: -1px;
                // opacity: 0; 
                // transform: translateY(- 5px);
                // transition: transform .2s $easeOutBack, opacity .15s;
              }

              &:hover{
                .code-btn{
                // color: $dark-yellow;
                } 
                
                img{
                  // opacity: 1;
                  // transform: translateY(0);
                }
              }
            }

            .site-btn-container{
              // margin-left: 15px;      

              .site-btn{
                // display: block;
                // margin: 0 auto 5px;
                // transition: all .2s ease-in-out;
              }

              img{
                // display: block;
                // opacity: 0; 

                // transform: translateY(- 5px);
                // transition: transform .2s $easeOutBack, opacity .15s;
              }

              &:hover{
                .site-btn{
                  // color: $dark-yellow;
                  // position: relative;
                } 

                img{
                  // opacity: 1;
                  // transform: translateY(0);
                  // position: relative;
                  // right: 2px;
                }
              }
            }
          }
        }

        &:hover .project-info-box{
          // transform: translate(0%, 0%);
          // opacity: 1;
        }

        &.project1{
          // grid-column: 1/2;
          // grid-row: 1/2;
          // background: url("https://cdn.dribbble.com/users/443226/screenshots/5321244/music_ui_design_preview.jpg") center center;
          // background-repeat: no-repeat;
          // background-size: 155%;
        } 

        &.project2{
          .project-info-box{
            .project-title{
              .title-container{
                display: flex;
                // text-align: left;
                
                .placement{
                  display: block;
                  // float:left;
                  // font-size: 3.2rem;
                  // margin-right: 15px;
                  // margin-right: 0px;
                }
                h6{
                  display: block;
                  // font-size: 1.15rem;
                  // float: left;
                  // width: 100%;
                }
              }
            }
          }       
        }

        &.project3{
         .project-info-box{
            .project-title{
              .title-container{
                // text-align: left;

                .placement{
                  vertical-align: baseline;
                  // display: block;
                  // float:left;
                  // font-size: 3.2rem;
                  // margin-right: 15px;
                  // margin-right: 0px;
                }

                h6{
                  margin-top: 15px;
                  // vertical-align: bottom;
                  // display: block;
                  // font-size: 1.15rem;
                  // float: left;
                  // width: 100%;
                }
              }
            }
          }
        }

        &.project4{
          .project-info-box{
            .project-title{
              .title-container{
                // text-align: left;
                
                .placement{
                  // display: block;
                  // float:left;
                  // font-size: 3.2rem;
                  // margin-right: 15px;
                  // margin-right: 0px;
                }
                h6{
                  // display: block;
                  // font-size: 1.15rem;
                  // float: left;
                  // width: 100%;
                }
              }
            }
          }
        }

        &.project5{
          // grid-column: 3/4;
          // grid-row: 2/3;
          // background: url("https://cdn.dribbble.com/users/504740/screenshots/6086531/mono.jpg")center center;
          // background-repeat: no-repeat;
          // background-size: cover;
          
          .placement{
            // vertical-align: middle;
          }
        }
      }
    }
  }
}


 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 885px){ 
  #projects-section{
    // background: $lt-gray;
    // padding: 180px 0 150px;
    // margin-top: -68px;
    // clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);

    .section-title{
      img{
        // width: 200px;
      }
      p{
        // margin: 17px auto 0;
        // width: 500px;
        // line-height: 1.5;
        // font-size: 1rem;
        // color: $med-black;
        // font-weight: 500;
      }
    }

    .projects-container{
      // margin: 0 auto;
      // display: grid;
      // grid-template-columns: 1fr .86fr 1fr;
      // grid-template-rows: 325px 325px;
      // grid-gap: 25px;

      .projects{
        // position: relative;
        // z-index: 5;
        // overflow: hidden;
        // transition: background .4s ease-in-out;

        .project-info-box{
          width: 96%;
          height: 97%;
          // background: #fff;
          padding: 22px 20px;
          // position: absolute;
          // bottom: 0;
          // left: 0;
          // z-index: 10;
          // transform: translate(-60%, 60%);
          // opacity: 0;
          // transition: all .5s cubic-bezier(0,.02,.33,1.35);        

          &.info-box-xl{
            height: 98.5%;
            width: 95%;
            // padding: 50% 30px;
          }

          .project-title{
            // margin: 0 auto;
            text-align: left;

            .title-container{
              // display: inline-block;
              display: flex;
              margin-top: 0px;
            }

            .placement {
              // display: inline-block;
              margin-right: 15px;
              // font-size: 3.3rem;
              // font-weight: 900;
              // color: $main-yellow;
              // text-align: left;
            }

            h6 {
              // display: inline-block;
              // text-align: left;
              // font-size: 1.2rem;
              // font-weight: 600;
              // color: $med-black;
              // line-height: 1.2;
            }
          }

            .project-desc{
              // text-align: left;
              // margin: 35px auto;
              // line-height: 1.5;
              // color: $med-gray;
            }

          .project-btns{
            // margin: 0 auto;
            // width: 100%;
            // display: flex;
            // justify-content: space-evenly;
            // font-size: 12px;
            // text-transform: uppercase;
            // font-weight: 700;
            letter-spacing: 0px;
            
            .code-btn-container{
              margin-right: 0px;      

              .code-btn{
                // display: block;
                // margin: 0 auto 5px;
                // transition: all .2s ease-in-out;
              }

              img{
                // display: block;
                // margin-left: -1px;
                // opacity: 0; 
                // transform: translateY(- 5px);
                // transition: transform .2s $easeOutBack, opacity .15s;
              }
            }

            .site-btn-container{
              margin-left: 0px;     

              .site-btn{
                // display: block;
                // margin: 0 auto 5px;
                // transition: all .2s ease-in-out;
              }

              img{
                // display: block;
                // opacity: 0; 

                // transform: translateY(- 5px);
                // transition: transform .2s $easeOutBack, opacity .15s;
              }
            }
          }
        }

        &:hover .project-info-box{
          // transform: translate(0%, 0%);
          // opacity: 1;
        }

        &.project1{
          // grid-column: 1/2;
          // grid-row: 1/2;
          // background: url("https://cdn.dribbble.com/users/443226/screenshots/5321244/music_ui_design_preview.jpg") center center;
          // background-repeat: no-repeat;
          // background-size: 155%;
        } 

        &.project2{
          .project-info-box{
            .project-title{
              .title-container{
                display: flex;
                // text-align: left;
                
                .placement{
                  display: block;
                  // float:left;
                  // font-size: 3.2rem;
                  // margin-right: 15px;
                  // margin-right: 0px;
                }
                h6{
                  display: block;
                  // font-size: 1.15rem;
                  // float: left;
                  // width: 100%;
                }
              }
            }
          }  

          .project-btns{
            // margin: 0 auto;
            // width: 100%;
            display: block;
            // justify-content: space-evenly;
            // font-size: 12px;
            // text-transform: uppercase;
            // font-weight: 700;
            letter-spacing: 0px;
            
            .code-btn-container{
              margin-right: 0px; 
              margin-bottom: 18px;   
              text-align: center;  

              .code-btn{
                // display: block;
                // margin: 0 auto 5px;
                // transition: all .2s ease-in-out;
              }

              img{
                width: 50%;
                // display: block;
                margin: 0 auto;
                // opacity: 0; 
                // transform: translateY(5px);
                // transition: transform .2s $easeOutBack, opacity .15s;
              }
            }

            .site-btn-container{
              margin-left: 0px;   
              text-align: center;    

              .site-btn{
                // display: block;
                // margin: 0 auto 5px;
                // transition: all .2s ease-in-out;
              }

              img{
                width: 50%;
                margin: 0 auto;
                // display: block;
                // opacity: 0; 

                // transform: translateY(- 5px);
                // transition: transform .2s $easeOutBack, opacity .15s;
              }
            }
          }     
        }

        &.project3{
         .project-info-box{
            .project-title{
              .title-container{
                // text-align: left;

                .placement{
                  vertical-align: baseline;
                  // display: block;
                  // float:left;
                  // font-size: 3.2rem;
                  // margin-right: 15px;
                  // margin-right: 0px;
                }

                h6{
                  margin-top: 15px;
                  // vertical-align: bottom;
                  // display: block;
                  // font-size: 1.15rem;
                  // float: left;
                  // width: 100%;
                }
              }
            }
          }
        }

        &.project4{
          .project-info-box{
            .project-title{
              .title-container{
                // text-align: left;
                
                .placement{
                  // display: block;
                  // float:left;
                  // font-size: 3.2rem;
                  // margin-right: 15px;
                  // margin-right: 0px;
                }
                h6{
                  // display: block;
                  // font-size: 1.15rem;
                  // float: left;
                  // width: 100%;
                }
              }
            }
          }
        }

        &.project5{
          // grid-column: 3/4;
          // grid-row: 2/3;
          // background: url("https://cdn.dribbble.com/users/504740/screenshots/6086531/mono.jpg")center center;
          // background-repeat: no-repeat;
          // background-size: cover;
          
          .placement{
            // vertical-align: middle;
          }
        }
      }
    }
  }
}


 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 839px){ 

}