#skills-section{
  background: $main-blue;
  padding: 190px 0;
  position: relative;
  z-index: 10;
  color: #fff;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
  
  .section-title{
    position: relative;
    z-index: 10;

    h2{
      color: #fff;
    }

    p{
      margin: 17px auto 0;
      width: 600px;
      line-height: 1.5;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .skills-container{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    width: 68%;
    margin: 0 auto;


    .skill{
      .skill-title{
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 1.5px;
        margin-bottom: 17px;
      }

      ul{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-row-gap: 5px;
      }
    }
  }

  .bg-circle-xl{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  .bg-circle-md1{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
    bottom: -18%;
    left: 5%;
    z-index: 5;
  }

  .bg-circle-md2{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
    top: -18%;
    right: 5%;
    z-index: 5;
  }

  .bg-circle-sm1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 5;
  }

  .bg-circle-sm11{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
    bottom: -42%;
    left: 17%;
    z-index: 5;
  }

  .bg-circle-sm111{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
    top: -42%;
    right: 17%;
    z-index: 5;
  }
  
  .bg-circle-sm2{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
    bottom: 30%;
    right: 0;
    z-index: 5;
  }

  .bg-circle-xs1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 5;
  }

  .bg-circle-xs2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 5;
  }

  .bg-circle-l1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
    bottom: -20%;
    right: 8%;
    z-index: 5;
  }

  .bg-circle-l11{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
    top: -20%;
    left: 8%;
    z-index: 5;
  }

  .bg-circle-l2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
     bottom: -46%;
    right: 20%;
    z-index: 5;
  }

  .bg-circle-l22{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    opacity: .4;
    position: absolute;
     top: -46%;
    left: 20%;
    z-index: 5;
  }
}      


/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (max-width: 479px){ 
  #skills-section{
    padding: 6.25rem 1.25rem;
    overflow: hidden;;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0% 94%);
    background: linear-gradient(0deg, rgba(0,87,178,1) 0%, rgba(3,77,154,1) 100%);

    .section-title{
      p{
        width: 100%;
        text-align: left;
      }
    }

    .skills-container{
      flex-wrap: wrap;
      width: 100%;

      .skill{
        .skill-title{
          font-size: 1.25rem;
          font-weight: 600;
          width: 100%;
        }

        ul{
          &.knowledge{
            margin: 0 auto 5%;
          }

          &.less-knowledge{
            margin: 0 auto 5%;
          }
        }  
      }
    }

    .bg-circle-xl{
      display: none;
      width: 120%;
      height: 100%;
      border-radius: 0;
      opacity: 1;
      top: -27%;
      left: -10%;
      transform: translate(0, 0);
    }

    .bg-circle-md1{
     display: none;
    }

    .bg-circle-md2{
      display: none;
    }

    .bg-circle-sm1{
     display: none;
    }

    .bg-circle-sm11{
     display: none;
    }

    .bg-circle-sm111{
     display: none;
    }
    
    .bg-circle-sm2{
     display: none;
    }

    .bg-circle-xs1{
     display: none;
    }

    .bg-circle-xs2{
     display: none;
    }

    .bg-circle-l1{
     display: none;
    }

    .bg-circle-l11{
     display: none;
    }

    .bg-circle-l2{
     display: none;
    }

    .bg-circle-l22{
     display: none;
    }  
  }
}


 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 768px){ 
  #skills-section{
    // clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
    // background: linear-gradient(90deg, rgba(0,87,178,1) 0%, rgba(3,77,154,1) 100%);
    background: linear-gradient(90deg, rgba(3,77,154,1) 0%, rgba(0,87,178,1) 100%);
    // width: 100vw;
    overflow: hidden;

    .section-title{
      p{
        width: 100%;
        text-align: left;
      }
    }

    .skills-container{
      // display: flex;
      // width: 68%;
      width: 100%;

      .skill{
        .skill-title{
          // font-size: 1.2rem;
          // font-weight: 700;
          // letter-spacing: 1.5px;
          // margin-bottom: 17px;
        }

        ul{
          // display: grid;
          // grid-template-columns: 1fr 1fr; 
          // grid-row-gap: 5px;
        }
      }
    }

    .bg-circle-xl{
      display: none;
    }

    .bg-circle-md1{
      display: none; 
      width: 60vw;
      height: 60vw;
      top: -149%;
      bottom: auto;
      left: -37%;
    }

    .bg-circle-md2{
      display: none;
      width: 60vw;
      height: 60vw;
      bottom: -149%;
      top: auto;
      right: -37%;
    }

    .bg-circle-sm1{
      display: none;
      width: 15vw;
      height: 15vw;
      top: -23%;
      left: -13%;
    }

    .bg-circle-sm11{
      display: none; 
      width: 15vw;
      height: 15vw;
      bottom: -23%;
      left: auto;
      right: -13%;
    }

    .bg-circle-sm111{
      display: none; 
      width: 80vw;
      height: 80vw;
      bottom: -206%;
      top: auto;
      right: -6%;
    }
    
    .bg-circle-sm2{
      display: none;
      width: 80vw;
      height: 80vw;
      bottom: auto;
      top: -206%;
      right: auto;
      left: -6%;
    }

    .bg-circle-xs1{
      display: none; 
      width: 7vw;
      height: 7vw;
      top: -38%;
      left: auto;
      right: 33%;

    }

    .bg-circle-xs2{
      display: none; 
      width: 7vw;
      height: 7vw;
      top: auto;
      bottom: -38%;
      right: auto;
      left: 33%;
    }

    .bg-circle-l1{
      display: none; 
      width: 20vw;
      height: 20vw;
      bottom: auto;
      top: -50%;
      right: -15%;
    }

    .bg-circle-l11{
      display: none; 
      width: 20vw;
      height: 20vw;
      top: auto;
      bottom: -50%;
      left: -15%;

    }

    .bg-circle-l2{
      display: none;
      width: 2.5vw;
      height: 2.5vw;
      bottom: -21%;
      right: 17%;
    }

    .bg-circle-l22{
      display: none;
      width: 2.5vw;
      height: 2.5vw;
      top: -21%;
      left: 17%;    
      right: auto;
    }
  }  
}


 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 620px){ 
  #skills-section{
    .skills-container{
      width: 100%;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;

      .skill{
        &.less-knowledge{
          margin: 17px 0;
        }
      }
    }
  }  
}