#skills-section {
  background: $main-blue;
  padding: 190px 0;
  position: relative;
  z-index: 10;
  color: #fff;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);

  .section-title {
    position: relative;
    z-index: 10;

    h2 {
      color: #fff;
    }

    p {
      margin: 17px auto 0;
      width: 55%;
      line-height: 1.5;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .skills-container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 0 auto;
    padding-bottom: 14px;

    .skill {
      .skill-title {
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 1.5px;
        margin-bottom: 17px;
        text-align: center;
      }

      &.knowledgeable {
        align-self: flex-end;
        position: relative;
        top: 17px;
      }

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 5px;

        li {
          padding: 1px 0;

          &:nth-of-type(odd) {
            margin-right: 12px;
          }
        }

      }
    }
  }

  .bg-circle {
    border-radius: 50%;
    background: #fff;
    opacity: .1;
    position: absolute;
    z-index: 5;
  }

  .main-bg-circle-xl {
    width: 800px;
    height: 800px;
    opacity: .4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bg-l1 {
    width: 125px;
    height: 125px;
    bottom: -18%;
    left: 60px;
  }

  .bg-l2 {
    width: 125px;
    height: 125px;
    top: -18%;
    right: 60px;
  }

  .bg-md1 {
    width: 85px;
    height: 85px;
    bottom: -20%;
    right: 8%;
  }

  .bg-md2 {
    width: 85px;
    height: 85px;
    top: -20%;
    left: 8%;
  }

  .bg-sm1 {
    width: 60px;
    height: 60px;
    top: 30%;
    left: 0;
  }

  .bg-sm2 {
    width: 60px;
    height: 60px;
    bottom: 30%;
    right: 0;
  }

  .bg-xs1 {
    width: 30px;
    height: 30px;
    bottom: -46%;
    right: 20%;
  }

  .bg-xs2 {
    width: 30px;
    height: 30px;
    top: -46%;
    left: 20%;
  }

  .bg-xs3 {
    width: 30px;
    height: 30px;
    bottom: -42%;
    left: 17%;
  }

  .bg-xs4 {
    width: 30px;
    height: 30px;
    top: -42%;
    right: 17%;
  }

  .bg-xxs1 {
    width: 20px;
    height: 20px;
    top: 50%;
    left: 10%;
  }

  .bg-xxs2 {
    width: 20px;
    height: 20px;
    top: 50%;
    right: 10%;
  }
}


/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (max-width: 479px) {
  #skills-section {
    padding: 6.25rem 1.25rem;
    overflow: hidden;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0% 94%);
    background: linear-gradient(0deg, rgba(0, 87, 178, 1) 0%, rgba(3, 77, 154, 1) 100%);

    .section-title {
      p {
        width: 100%;
        text-align: left;
      }
    }

    .skills-container {
      width: 100%;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;

      .skill {
        margin-bottom: 25px;

        .skill-title {
          font-size: 1.25rem;
          font-weight: 600;
          width: 100%;
        }

        &.less-knowledgeable {
          margin-bottom: 0 !important;
        }

        &.knowledgeable {
          align-self: auto;
        }
      }
    }

    .main-bg-circle-xl {
      display: none;
    }

    .bg-l1 {
      display: none;
    }

    .bg-l2 {
      display: none;
    }

    .bg-md1 {
      display: none;
    }

    .bg-md2 {
      display: none;
    }

    .bg-sm1 {
      display: none;
    }

    .bg-sm2 {
      display: none;
    }

    .bg-xs1 {
      display: none;
    }

    .bg-xs2 {
      display: none;
    }

    .bg-xs3 {
      display: none;
    }

    .bg-xs4 {
      display: none;
    }

    .bg-xxs1 {
      display: none;
    }

    .bg-xxs2 {
      display: none;
    }
  }
}


/* Tablet view */
@media only screen and (min-width: 769px) and (max-width: 791px) {
  #skills-section {
    .container {
      .main-bg-circle-xl {
        opacity: .2;
      }

      .bg-l1 {
        display: none;
      }

      .bg-l2 {
        display: none;
      }

      .bg-md1 {
        display: none;
      }

      .bg-md2 {
        display: none;
      }

      .bg-sm1 {
        display: none;
      }

      .bg-sm2 {
        display: none;
      }

      .bg-xs1 {
        display: none;
      }

      .bg-xs2 {
        display: none;
      }

      .bg-xs3 {
        display: none;
      }

      .bg-xs4 {
        display: none;
      }

      .bg-xxs1 {
        display: none;
      }

      .bg-xxs2 {
        display: none;
      }
    }
  }
}

/* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  #skills-section {
    background: linear-gradient(90deg, rgba(3, 77, 154, 1) 0%, rgba(0, 87, 178, 1) 100%);
    overflow: hidden;

    .section-title {
      p {
        width: 100%;
        text-align: left;
      }
    }

    .skills-container {
      width: 100%;
    }

    .main-bg-circle-xl {
      display: none;
    }

    .bg-l1 {
      display: none;
    }

    .bg-l2 {
      display: none;
    }

    .bg-md1 {
      display: none;
    }

    .bg-md2 {
      display: none;
    }

    .bg-sm1 {
      display: none;
    }

    .bg-sm2 {
      display: none;
    }

    .bg-xs1 {
      display: none;
    }

    .bg-xs2 {
      display: none;
    }

    .bg-xs3 {
      display: none;
    }

    .bg-xs4 {
      display: none;
    }

    .bg-xxs1 {
      display: none;
    }

    .bg-xxs2 {
      display: none;
    }
  }
}

/* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 650px) {
  #skills-section {
    .skills-container {
      width: 100%;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;

      .skill {
        margin-bottom: 25px;

        &.less-knowledgeable {
          margin-bottom: 0 !important;
        }

        &.knowledgeable {
          align-self: auto;
        }
      }
    }
  }
}

/* Tablet (portrait and landscape) */
@media only screen and (min-width: 300px) and (max-width: 650px) {
  #skills-section {
    .skills-container {
      .skill.knowledgeable {
        position: static;
      }
    }
  }
}


/* laptop */
@media only screen and (min-width: 1141px) and (max-width: 1280px) {
  .bg-l1 {
    left: 27px !important;
  }

  .bg-l2 {
    right: 27px !important;
  }

  .bg-md1 {
    right: 7% !important;
  }

  .bg-md2 {
    left: 7% !important;
  }
}

/* laptop */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  #skills-section {
    .container {
      .section-title {
        p {
          width: 60%;
        }
      }

      .skills-container {
        width: 56%;
      }
    }
  }
}

/* desktop */
@media only screen and (min-width: 1051px) and (max-width: 1140px) {
  #skills-section {
    .container {
      .section-title {
        p {
          width: 64%;
        }
      }

      .skills-container {
        width: 61%;
      }

      .bg-l1 {
        width: 105px;
        height: 105px;
        left: 0%;
        bottom: -24%;
      }

      .bg-l2 {
        width: 105px;
        height: 105px;
        right: 0%;
        top: -24%;
      }

      .bg-md1 {
        width: 80px;
        height: 75px;
        right: 6%;
        bottom: -39%;
      }

      .bg-md2 {
        width: 80px;
        height: 75px;
        left: 6%;
        top: -39%;
      }

      .bg-sm1 {
        width: 55px;
        height: 55px;
        top: 37%;
      }

      .bg-sm2 {
        bottom: 37%;
        width: 55px;
        height: 55px;
      }

      .bg-xs1 {
        width: 30px;
        height: 30px;
        right: 3%;
        bottom: -15%;
      }

      .bg-xs2 {
        width: 30px;
        height: 30px;
        top: -15%;
        left: 3%;
      }

      .bg-xs3 {
        display: none;
      }

      .bg-xs4 {
        display: none;
      }

      .bg-xxs1 {
        top: initial;
        left: 10%;
        bottom: -29%;
      }

      .bg-xxs2 {
        top: -29%;
        bottom: initial;
        right: 10%;
      }
    }
  }
}

/* laptop */
@media only screen and (min-width: 950px) and (max-width: 1050px) {
  #skills-section {
    .container {
      .section-title {
        p {
          width: 64%;
        }
      }

      .skills-container {
        width: 68%;
      }

      .bg-l1 {
        bottom: -24%;
        width: 110px;
        height: 110px;
        left: -5%;
      }

      .bg-l2 {
        top: -24%;
        width: 110px;
        height: 110px;
        right: -5%;
      }

      .bg-md1 {
        width: 80px;
        height: 75px;
        right: 3%;
        bottom: -40%;
      }

      .bg-md2 {
        width: 80px;
        height: 75px;
        left: 3%;
        top: -40%;
      }

      .bg-sm1 {
        width: 50px;
        height: 50px;
        top: 37%;
        left: -39px;
      }

      .bg-sm2 {
        width: 50px;
        height: 50px;
        bottom: 37%;
        right: -39px;
      }

      .bg-xs1 {
        width: 30px;
        height: 30px;
        right: -1%;
        bottom: -12%;
      }

      .bg-xs2 {
        width: 30px;
        height: 30px;
        top: -12%;
        left: -1%;
      }

      .bg-xs3 {
        display: none;
      }

      .bg-xs4 {
        display: none;
      }

      .bg-xxs1 {
        top: initial;
        left: 10%;
        bottom: -29%;
      }

      .bg-xxs2 {
        top: -29%;
        bottom: initial;
        right: 10%;
      }
    }
  }
}

/* laptop */
@media only screen and (min-width: 901px) and (max-width: 949px) {
  #skills-section {
    .container {
      .bg-l1 {
        width: 80px;
        height: 80px;
        bottom: -28%;
        left: -1.5%;
      }

      .bg-l2 {
        width: 80px;
        height: 80px;
        top: -28%;
        right: -1.5%;
      }

      .bg-md1 {
        width: 100px;
        height: 100px;
        bottom: -44%;
        right: -1.5%;
      }

      .bg-md2 {
        width: 100px;
        height: 100px;
        top: -44%;
        left: -1.5%;
      }

      .bg-sm1 {
        bottom: 9%;
        top: initial;
        left: 0;
        width: 35px;
        height: 35px;
      }

      .bg-sm2 {
        top: 9%;
        bottom: initial;
        right: 0;
        width: 35px;
        height: 35px;
      }

      .bg-xs1 {
        bottom: -7%;
        right: 0;
        width: 25px;
        height: 25px;
      }

      .bg-xs2 {
        top: -7%;
        left: 0;
        width: 25px;
        height: 25px;
      }

      .bg-xs3 {
        display: none;
      }

      .bg-xs4 {
        display: none;
      }

      .bg-xxs1 {
        display: none;
      }

      .bg-xxs2 {
        display: none;
      }
    }
  }
}

/* laptop */
@media only screen and (min-width: 900px) and (max-width: 949px) {
  #skills-section {
    .container {
      .section-title {
        p {
          width: 74%;
        }
      }

      .skills-container {
        width: 71%;
      }
    }
  }
}

@media only screen and (min-width: 830px) and (max-width: 900px) {
  #skills-section {
    .container {
      .bg-l1 {
        width: 50px;
        height: 50px;
        bottom: -28%;
        left: -1.5%;
      }

      .bg-l2 {
        width: 50px;
        height: 50px;
        top: -28%;
        right: -1.5%;
      }

      .bg-md1 {
        width: 100px;
        height: 100px;
        bottom: -45%;
        right: -4%;
      }

      .bg-md2 {
        width: 100px;
        height: 100px;
        top: -45%;
        left: -4%;
      }

      .bg-sm1 {
        display: none;
      }

      .bg-sm2 {
        display: none;
      }

      .bg-xs1 {
        display: none;
      }

      .bg-xs2 {
        display: none;
      }

      .bg-xs3 {
        display: none;
      }

      .bg-xs4 {
        display: none;
      }

      .bg-xxs1 {
        display: none;
      }

      .bg-xxs2 {
        display: none;
      }
    }
  }
}

/* laptop */
@media only screen and (min-width: 840px) and (max-width: 899px) {
  #skills-section {
    .container {
      .section-title {
        p {
          width: 81%;
        }
      }

      .skills-container {
        width: 76%;
      }
    }
  }
}

/* laptop */
@media only screen and (min-width: 769px) and (max-width: 839px) {
  #skills-section {
    .container {
      .section-title {
        p {
          width: 90%;
        }
      }

      .skills-container {
        width: 85%;

        .skill {
          margin: 0;
        }
      }
    }
  }
}

/* laptop */
@media only screen and (min-width: 792px) and (max-width: 829px) {
  #skills-section {
    .container {
      .bg-l1 {
        display: none;
      }

      .bg-l2 {
        display: none;
      }

      .bg-md1 {
        width: 75px;
        height: 75px;
        bottom: -45%;
        right: -4%;
      }

      .bg-md2 {
        width: 75px;
        height: 75px;
        top: -45%;
        left: -4%;
      }

      .bg-sm1 {
        display: none;
      }

      .bg-sm2 {
        display: none;
      }

      .bg-xs1 {
        display: none;
      }

      .bg-xs2 {
        display: none;
      }

      .bg-xs3 {
        display: none;
      }

      .bg-xs4 {
        display: none;
      }

      .bg-xxs1 {
        display: none;
      }

      .bg-xxs2 {
        display: none;
      }
    }
  }
}