#skills-section{
  background: $main-blue;
  padding: 190px 0;
  position: relative;
  z-index: 10;
  color: #fff;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
  
  .section-title{
    position: relative;
    z-index: 10;

    h2{
      color: #fff;
    }

    p{
      margin: 17px auto 0;
      width: 55%;
      line-height: 1.5;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .skills-container{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 0 auto;


    .skill{
      .skill-title{
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 1.5px;
        margin-bottom: 17px;
        text-align: center;
      }

      &.knowledgeable{
        align-self: flex-end;
        position: relative;
        top: 17px;
      }

      ul{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-row-gap: 5px;

        li{
          padding: 1px 0;
          &:nth-of-type(odd){
            margin-right: 12px;
          }
        }
 
      }
    }
  }

  .bg-circle{
    border-radius: 50%;
    background: #fff;
    opacity: .2;
    position: absolute;
    z-index: 5;
  }

  .main-bg-circle-xl{
    width: 800px;
    height: 800px;
    opacity: .4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bg-l1{
    width: 125px;
    height: 125px;
    bottom: -18%;
    left: 5%;
  }

  .bg-l2{
    width: 125px;
    height: 125px;
    top: -18%;
    right: 5%;
  }

  .bg-md1{
    width: 80px;
    height: 80px;
    bottom: -20%;
    right: 8%;
  }

  .bg-md2{
    width: 80px;
    height: 80px;
    top: -20%;
    left: 8%;
  }

  .bg-sm1{
    width: 60px;
    height: 60px;
    top: 30%;
    left: 0;
  }

  .bg-sm2{
    width: 60px;
    height: 60px;
    bottom: 30%;
    right: 0;
  }

  .bg-xs1{
    width: 30px;
    height: 30px;
    bottom: -46%;
    right: 20%;
  }

  .bg-xs2{
    width: 30px;
    height: 30px;
    top: -46%;
    left: 20%;
  }

  .bg-xs3{
    width: 30px;
    height: 30px;
    bottom: -42%;
    left: 17%;
  }
  
  .bg-xs4{
    width: 30px;
    height: 30px;
    top: -42%;
    right: 17%;
  }

  .bg-xxs1{
    width: 20px;
    height: 20px;
    top: 50%;
    left: 10%;
  }

  .bg-xxs2{
    width: 20px;
    height: 20px;
    top: 50%;
    right: 10%;
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 300px) and (max-width: 479px){ 
  #skills-section{
    padding: 6.25rem 1.25rem;
    overflow: hidden;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0% 94%);
    background: linear-gradient(0deg, rgba(0,87,178,1) 0%, rgba(3,77,154,1) 100%);

    .section-title{
      p{
        width: 100%;
        text-align: left;
      }
    }

    .skills-container{
      width: 100%;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;

      .skill{
        margin-bottom: 25px;

        .skill-title{
          font-size: 1.25rem;
          font-weight: 600;
          width: 100%;
        }

        &.less-knowledgeable{
          margin-bottom: 0 !important;
        }

        &.knowledgeable {
          align-self: auto;
        }
      }
    }

    .bg-circle-xl{
      display: none;
      width: 120%;
      height: 100%;
      border-radius: 0;
      opacity: 1;
      top: -27%;
      left: -10%;
      transform: translate(0, 0);
    }

    .bg-circle-md1{
     display: none;
    }

    .bg-circle-md2{
      display: none;
    }

    .bg-circle-sm1{
     display: none;
    }

    .bg-circle-sm11{
     display: none;
    }

    .bg-circle-sm111{
     display: none;
    }
    
    .bg-circle-sm2{
     display: none;
    }

    .bg-circle-xs1{
     display: none;
    }

    .bg-circle-xs2{
     display: none;
    }

    .bg-circle-l1{
     display: none;
    }

    .bg-circle-l11{
     display: none;
    }

    .bg-circle-l2{
     display: none;
    }

    .bg-circle-l22{
     display: none;
    }  
  }
}

 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 768px){ 
  #skills-section{
    background: linear-gradient(90deg, rgba(3,77,154,1) 0%, rgba(0,87,178,1) 100%);
    overflow: hidden;

    .section-title{
      p{
        width: 100%;
        text-align: left;
      }
    }

    .skills-container{
      width: 100%;
    }

    .bg-circle-xl{
      display: none;
    }

    .bg-circle-md1{
      display: none; 
    }

    .bg-circle-md2{
      display: none;
    }

    .bg-circle-sm1{
      display: none;
    }

    .bg-circle-sm11{
      display: none; 
    }

    .bg-circle-sm111{
      display: none; 
    }
    
    .bg-circle-sm2{
      display: none;
    }

    .bg-circle-xs1{
      display: none; 
    }

    .bg-circle-xs2{
      display: none; 
    }

    .bg-circle-l1{
      display: none; 
    }

    .bg-circle-l11{
      display: none; 
    }

    .bg-circle-l2{
      display: none;
    }

    .bg-circle-l22{
      display: none;
    }
  }  
}

//max-620 min-480
 /* Tablet (portrait and landscape) */
@media only screen and (min-width: 480px) and (max-width: 650px){ 
  #skills-section{
    .skills-container{
      width: 100%;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;

      .skill{
        margin-bottom: 25px;

        &.less-knowledgeable{
          margin-bottom: 0 !important;
        }

        &.knowledgeable {
          align-self: auto;
        }
      }
    }
  }  
}

/* Tablet (portrait and landscape) */
@media only screen and (min-width: 300px) and (max-width: 650px){
  #skills-section{
    .skills-container{ 
      .skill.knowledgeable{
        position: static;
      }
    }  
  }
}

 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 1200px){ 
  #skills-section{
    .container{
      .section-title{
        p{
          width: 60%;
        }  
      }    

      .skills-container{
        width: 56%;
      }

      .bg-circle-md1{
        left: 3%;
      }

      .bg-circle-md2{
        right: 3%;
      }
    }
  }
}


/* laptop */
@media only screen and (min-width: 1051px) and (max-width: 1140px){ 
  #skills-section{
    .container{
      .section-title{
        p{
          width: 64%;
        }  
      }

      .skills-container{
        width: 61%;

      }
    }
  }
}

 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 1134px){ 
  #skills-section{
    .container{
      .bg-circle-md1{
        left: -1.5%;
      }

      .bg-circle-md2{
        right: -1.5%;
      }

      .bg-circle-xs1{
        left: 6%;
        top: 59%;
      }  

      .bg-circle-xs2{
        right: 6%;
        top: 33%;
      }  

      .bg-circle-l1{
        right: 3%;
      }

      .bg-circle-l11{
        left: 3%;
      }

      .bg-circle-l2{
        right: 16%;
      }

      .bg-circle-l22{
        left: 16%;
      }
    }
  }  
}



/* laptop */
@media only screen and (min-width: 1026px) and (max-width: 1050px){
  #skills-section{ 
    .container{
      .bg-circle-sm11 {
        left: 12%;
        bottom: -34%;
      }  

      .bg-circle-sm111{
        right: 12%;
        top: -34%;
      }

      .bg-circle-md1{
        left: -7%;
        bottom: -10%;
      }
      .bg-circle-md2 {
        right: -7%;
        top: -10%;
      } 
      .bg-circle-sm1 {
        left: -42px;
      }  
      .bg-circle-sm2 {
        right: -42px;
      }  
      .bg-circle-xs1 {
        display: none;
      }  
      .bg-circle-xs2 {
        display: none;
      } 
      .bg-circle-l1 {
        right: -5%;
        bottom: -26%;
        width: 100px;
        height: 100px;
      }
      .bg-circle-l11 {
        left: -5%;
        top: -26%;
        width: 100px;
        height: 100px;
      }
      .bg-circle-l2 {
        right: 13%;
      }
      .bg-circle-l22 {
        left: 13%;
      }
    }   
  }
}  










/* laptop */
@media only screen and (min-width: 950px) and (max-width: 1050px){ 
  #skills-section{
    .container{
      .section-title{
        p{
          width: 64%;
        }  
      }

      .skills-container{
        width: 68%;

      }
    }
  }
} 


 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 1025px){ 
  #skills-section{
    overflow: hidden;

    .container{
      .bg-circle-sm11{
        display: none;
      }

      .bg-circle-sm111{
        display: none;
      }

      .bg-circle-md1{
        left: 5%;
        bottom: -30%;
        width: 30px;
        height: 30px;
      }

      .bg-circle-md2{
        right: 5%;
        top: -30%;
        width: 30px;
        height: 30px;
      }

      .bg-circle-sm1{
        right: 0%;
        left: -6.5%;
        width: 80px;
        height: 80px;
      }

      .bg-circle-sm2{
        right: -6.5%;
        bottom: 28%;
        width: 80px;
        height: 80px;
      }

      .bg-circle-xs1{
        width: 55px;
        height: 55px;
        left: -3%;
        top: 83%;
      }  

      .bg-circle-xs2{
        width: 55px;
        height: 55px;
        right: -3%;
        top: 3%;
      }  

      .bg-circle-l1{
        width: 55px;
        height: 55px;
        right: 2%;
      }

      .bg-circle-l11{
        width: 55px;
        height: 55px;
        left: 1%;
        top: -17%;
      }

      .bg-circle-l2{
        right: 13%;
      }

      .bg-circle-l22{
        left: 13%;
        top: -45%;
      }
    }
  }  
}

/* laptop */
@media only screen and (min-width: 900px) and (max-width: 949px){ 
  #skills-section{
    .container{
      .section-title{
        p{
          width: 74%;
        }  
      }

      .skills-container{
        width: 71%;

      }
    }
  }
}



/* laptop */
@media only screen and (min-width: 840px) and (max-width: 899px){ 
  #skills-section{
    .container{
      .section-title{
        p{
          width: 81%;
        }  
      }

      .skills-container{
        width: 76%;

      }
    }
  }
}



 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 949px){ 
  #skills-section{
    .container{
      .bg-circle-md1{
        display: none;
      }

      .bg-circle-md2{
        display: none;
      }

      .bg-circle-sm1{
        width: 20px;
        height: 20px;
        left: 1%;
        bottom: -14%;
        top: auto;
      }

      .bg-circle-sm2{
        width: 20px;
        height: 20px;
        right: 1%;
        top: -14%;
      }

      .bg-circle-xs1{
        width: 125px;
        height: 125px;
        left: -12%;
        top: auto;
        bottom: -51%;
      }  

      .bg-circle-xs2{
        width: 125px;
        height: 125px;
        right: -12%;
        top: -51%;
      }  

      .bg-circle-l1{
        width: 30px;
        height: 30px;
        right: 1%;
        bottom: -26%;
      }

      .bg-circle-l11{
        width: 30px;
        height: 30px;
        left: 1%;
        top: -26%;
      }

      .bg-circle-l2{
        right: -15%;
        bottom: -88%;
        width: 200px;
        height: 200px;
      }

      .bg-circle-l22{
        left: -15%;
        top: -88%;
        width: 200px;
        height: 200px;
      }
    }
  }  
}

 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 885px){ 
//no style. layout is good.
}
    
 /* laptop */
@media only screen and (min-width: 769px) and (max-width: 839px){ 
  #skills-section{
    .container{
      .section-title{
        p{
          width: 90%;
        }  
      }

      .skills-container{
        width: 85%;

        .skill{
          margin: 0;
        }
      }

      .bg-circle-sm1{
        display: none
      }

      .bg-circle-sm2{
        display:none;
      }

      .bg-circle-xs1{
        left: -15%;
        bottom: -58%;
      }  

      .bg-circle-xs2{
        right: -15%;
        top: -58%;
      }  

      .bg-circle-l1{
        display: none;
      }

      .bg-circle-l11{
        display: none;
      }

      .bg-circle-l2{
        right: -20%;
        bottom: -93%;
      }

      .bg-circle-l22{
        left: -20%;
        top: -93%;
      }
    }
  }  
}
