//var setup
$main-yellow: #FEB332;
$dark-yellow: #FFA100;
$main-blue: #0057B2;
$sry-blue: #007CFF;
$dark-blue: #034D9A;
$baby-blue: #B4D9FF;
$rich-black: #333333;
$med-black: #555555;
$med-gray: #707070;
$lt-gray: #F8F9FB;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400,500,600,700,800,900');
@import "reset";
@import "header";
@import "home-page";
@import "contact-page";
@import "projects-page";
@import "about-me-page";
@import "skills-page";

*{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Lato', sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  // height: 100vh;
  position: relative;;
}




   .section-title{
      text-align: center;
      margin-bottom: 70px;

      h2{
        margin-top: -5px;
        margin-bottom: 14px;
        font-size: 	3.125rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $rich-black;

        // &::after{
        //   content: " ";
        //   display: block;
        //   width: 100px;

        //   background: url(../img/wavy-underline-med.svg);
        //   background-size: 200px;
        // }
      }

      img{
        // stroke: $main-yellow;
        // color: $main-yellow;
        width: 100px;
        // stroke-width: 8px;
      }
    }






a{
  text-decoration: none;
  color: $med-black;
}

  footer{

    background: $lt-gray;
    // font-size: 1.1rem;
    // position: absolute;
    // bottom: 0;
    padding: 36px 0;
    color: $med-black;
    font-weight: 500;
 
    .container{
      // border-top: 5px solid #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-items: center;
    }

    .logo{
      font-size: 1.5rem;
      font-weight: 700;
    }


  }