//var setup
$main-yellow: #FEB332;
$dark-yellow: #FFA100;
$main-blue: #0057B2;
$sry-blue: #007CFF;
$dark-blue: #034D9A;
$baby-blue: #B4D9FF;
$rich-black: #333333;
$med-black: #555555;
$lt-black: #707070;
$lt-gray: #F8F9FB;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400,500,600,700,800,900');
@import "reset";
@import "header";
@import "home-page";
@import "contact-page";


*{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Lato', sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: $med-black;
}